[2020-04-15 16:58] carlosalberto commented on #331
@dyladan What name do you want for it? We have, for other SIGs, names such as `opentelemetry-auto-instr-java` (but that that is the auto-instrumentation engine + instrumentation).

[2020-04-15 17:10] mayurkale22 commented on #331
We would prefer something like this: `opentelemetry-js-contrib`

[2020-04-15 17:18] yurishkuro commented on #331
https://github.com/open-telemetry/opentelemetry-js-contrib, @dyladan is an admin, please set up the rest of the permissions as needed.

[2020-04-15 17:18] #331 closed

[2020-04-16 20:51] yurishkuro commented on #329
+1

[2020-04-20 20:07] mtwo commented on #169
Apparently the Kubernetes SIGs have a new solution to this. We need to take action on this, in addition to the two YouTube channels. I likely won't have time this week but I'll attempt to get on this next week.

[2020-04-20 20:16] austinlparker commented on #169
@mtwo let me know if you need any help, I can maybe repurpose some things from when I was tinkering on this.

[2020-04-21 13:41] carlosalberto commented on #329
TC decided to go ahead with this and this specific list of approvers (usually the TC would nominate them, btw). One question is whether this sub-spec-sig will have both approvers _and_ maintainers.

[2020-04-22 18:18] johnbley opened #334 "REQUEST: New membership for johnbley"
### GitHub Username

@johnbley

### Organization you are requesting membership in

@open-telemetry

### Requirements

- [x] I have reviewed the community membership guidelines (https://github.com/open-telemetry/community/blob/master/community-membership.md)
- [x] I have enabled 2FA on my GitHub account. See https://github.com/settings/security
- [x] I have subscribed to the [Gitter channel](https:

[2020-04-22 18:28] trask commented on #334
👍

[2020-04-22 21:40] SergeyKanzhelev commented on #334
Welcome, @johnbley!

[2020-04-22 21:40] #334 closed

[2020-04-23 18:39] andrewhsu opened #335 "REQUEST: New membership for andrewhsu"
### GitHub Username

@andrewhsu

### Organization you are requesting membership in

@open-telemetry

### Requirements

- [x] I have reviewed the community membership guidelines (https://github.com/open-telemetry/community/blob/master/community-membership.md)
- [x] I have enabled 2FA on my GitHub account. See https://github.com/settings/security
- [x] I have subscribed to the [Gitter channel](https

[2020-04-23 18:39] trask commented on #335
👍

[2020-04-23 18:50] mtwo commented on #335
I approve

[2020-04-23 19:09] jmacd commented on #335
Approve!

[2020-04-23 20:44] SergeyKanzhelev commented on #335
Welcome, @andrewhsu

[2020-04-23 20:44] #335 closed

[2020-04-23 20:51] mtwo commented on #169
Adding this for my and Austin's benefit. Kubernetes is apparently using splain.io and are happy with it. The CNCF is willing to pay any bills incurred from this.

[2020-04-23 21:11] austinlparker commented on #169
Works for me - I think all we'd need is for a CNCF admin to authorize the
application on our Zoom accounts?

On Thu, Apr 23, 2020 at 4:51 PM Morgan McLean <notifications@github.com>
wrote:

[2020-04-24 16:31] tedsuo commented on #113
Following up on this. I will propose a clause to https://github.com/open-telemetry/community/blob/master/CONTRIBUTING.md stating that:

1. All code written for this project, or donated to this project, will have a single line license header, which reads:
[code]
2. This rule does not apply to 3rd party code copied from other languages. Licenses and headers must be retained for all code not donated

[2020-04-24 17:14] carlosalberto commented on #113
@tedsuo Do we really need to keep the year in the copyright? It would be nice to remove that requirement _if_ possible ;)

[2020-04-24 17:19] yurishkuro commented on #113
We already have Governance Committee decision/recommendation https://github.com/open-telemetry/community/issues/113#issuecomment-595377568. It matches CNCF recommendations and the wildly accepted use of Apache license. Why do we need to diverge from it by replacing headers with one line?

[2020-04-24 19:55] tedsuo commented on #113
@yurishkuro Apache Foundation also recommends this shorter header: http://www.apache.org/foundation/license-faq.html#Apply-My-Software

[2020-04-24 22:18] #71 closed

[2020-04-26 13:29] knight622 commented on #169
We're going to have to start this today

[2020-04-29 17:09] dyladan commented on #306
Seems like there is no way to get Renovate configured because of the CLA requirements. As a workaround, we can use the [Forking Renovate](https://github.com/apps/forking-renovate) plugin. Can an OpenTelemetry owner please enable this on the https://github.com/open-telemetry/opentelemetry-js and https://github.com/open-telemetry/opentelemetry-js-contrib repos?

@open-telemetry/admins

[2020-04-29 18:10] lizthegrey commented on #306
Sorry for the delay, I failed to actually get https://lfcla.com/ running, but it was on my plate. Can we defer for a second so I can try to get it up and running?

[2020-04-29 18:21] lizthegrey commented on #306
In particular, https://lists.cloudfoundry.org/g/cf-dev/topic/34227989?p=Created,,,20,2,0,0::recentpostdate%2Fsticky,,,20,2,0,34227989 says that it's a supported feature to exempt bots in the new CLA tool.

[2020-04-29 18:44] dyladan commented on #306
sounds good to me thanks

[2020-04-29 18:47] amye commented on #169
Checking in on this -
Which of the two OpenTelemetry accounts is the right one that we should be connecting with?
Happy to enable the zoom accounts to connect, just need clarification.

[2020-04-29 18:51] mtwo commented on #169
https://www.youtube.com/channel/UCHZDBZTIfdy94xMjMKz-_MA appears to have more subscribers, so let's use that. @lizthegrey I _think_ that you created this account? If not, do you know who has access to it?

[2020-04-29 19:19] amye commented on #169
If I can help get access to that, we can get up and running with Splain on this.

Kubernetes guidelines are here: https://github.com/kubernetes/community/blob/master/communication/youtube/youtube-guidelines.md#automation

[2020-04-29 20:59] SergeyKanzhelev commented on #169
@amye send me your gmail e-mail (or whatever I can give permissions to Youtube to).

Also there are couple questions:
1. How Splain will know how to name the video? If it can take it from google calendar- it would be great. Otherwise, it will be great to have a name of a room AND timestamp as part of the name.
2. There are a lot of 10 seconds videos when people connect to the meeting by mistake. I

[2020-04-30 21:17] evantorrie opened #337 "REQUEST: New membership for @evantorrie"
### GitHub Username

@evantorrie

### Organization you are requesting membership in

@open-telemetry

### Requirements

- [X] I have reviewed the community membership guidelines (https://github.com/open-telemetry/community/blob/master/community-membership.md)
- [X] I have enabled 2FA on my GitHub account. See https://github.com/settings/security
- [X] I have subscribed to the [Gitter channel](http

[2020-04-30 21:26] amye commented on #169
We'll make everything that Splain uploads private, so that nothing gets published on accident.
I know we have a number of Zoom accounts for this project, which account should have Splain on it?

[2020-04-30 21:29] mtwo commented on #169
Is it possible to enable Splain with all three Zoom accounts? Our SIG meetings are spread across all of them, as some SIGs have overlapping meetings each week.

________________________________
From: Amye Scavarda Perrin <notifications@github.com>
Sent: Thursday, April 30, 2020 2:26:54 PM
To: open-telemetry/community <community@noreply.github.com>
Cc: Morgan McLean <morgan_mclean@hotmail.com>; Men

[2020-04-30 21:51] SergeyKanzhelev commented on #337
Welcome, @evantorrie!

[2020-04-30 21:51] #337 closed

[2020-04-30 22:08] jmacd commented on #337
:+1: :tada:

[2020-04-30 23:32] jmacd commented on #329
How do we move this forward? I think we do not need both maintainers and approvers at this point, mainly because there's already overlap with existing maintainers in the above approvers list (Bogdan is in both groups).

[2020-04-30 23:40] cijothomas commented on #329
https://github.com/open-telemetry/community/blob/master/community-membership.md#approver

_Reviewer for or author of at least 10 substantial PRs to the codebase, with the definition of substantial subject to the maintainer's discretion (e.g. refactors/adds new functionality rather than one-line pulls)._

The official requirement calls of at least 10 PRs in the repo. I don't meet this criteria, so

[2020-04-30 23:45] jmacd commented on #329
I understand @cijothomas, but if 10 substantial PRs in the OTel specification or OTEPs on metrics were a requirement, very few would quality. This list is a group of people that have shown ongoing interest, have written code, and have participated in the SIG discussion in an ongoing basis. I continue to recommend you. :-)

[2020-05-01 21:23] amye commented on #169
Splain is now enabled on all three accounts, but they are set to private upload.
Let's see how this goes for next week, we should start seeing auto-uploads now.

[2020-05-02 03:33] CodeBlanch opened #338 "REQUEST: New membership for CodeBlanch"
### GitHub Username

@CodeBlanch

### Organization you are requesting membership in

@open-telemetry

### Requirements

- [X] I have reviewed the community membership guidelines (https://github.com/open-telemetry/community/blob/master/community-membership.md)
- [X] I have enabled 2FA on my GitHub account. See https://github.com/settings/security
- [X] I have subscribed to the [Gitter channel](http

[2020-05-02 04:40] cijothomas commented on #338
I support.

[2020-05-02 05:49] SergeyKanzhelev commented on #338
Welcome, @CodeBlanch

[2020-05-02 05:49] #338 closed

[2020-05-02 12:59] bruno-garcia commented on #338
Welcome!

[2020-05-03 00:55] 3tilley opened #339 "How much should someone instrument in-process?"
Apologies if this was asked in the wrong places or has an answer somewhere!

Tracing in the traditional sense was all about function calls and expensive computations within a process. In the new world of distributed systems, clearly intra-process communication is the most important thing to track, as it has the highest variance and fault rate; and in the documentation for opentelemetry this is the

[2020-05-03 01:19] jpirelli commented on #339
Disclaimer: I am new to this thread, as a matter of fact, this is my first post
Credit: I am not new to observability

When we are looking at the minimum requirement for instrumentation, a few key things come into play.
1. What does success for this operation look like?
2. Can I delineate what specific software was operating on the payload when it had a failure (in our stack, unless there is a blo

[2020-05-04 20:36] SergeyKanzhelev commented on #169
Ok, it does seems to be partially working. Problems:

1. Video failed to upload, see screenshot below.
2. Video captions doesn't have timestamp in a name. So we cannot match it to the actual meeting from the calendar.
3. nit: perhaps those 25 second videos can be ommitted for upload

![image](https://user-images.githubusercontent.com/9950081/81010961-f5551600-8e0b-11ea-923c-4a8902656d6b.png)

I be

[2020-05-04 20:46] amye commented on #169
I've sent over the settings area for Splain, Splain shows that the video uploaded to YouTube. This error looks like a YouTube error.

[2020-05-05 08:09] SergeyKanzhelev commented on #169
This video worked fine:

![image](https://user-images.githubusercontent.com/9950081/81046317-f66a5f80-8e6c-11ea-98dd-a6e09d3787ca.png)

I published it. I was guessing what meeting it was though. Let's see if that processing error will re-occur.

[2020-05-05 14:31] andrewhsu commented on #113
I think it is important to note that this issue was opened by @tylerbenson who is employed by DataDog. I think the resolution of this issue will help unblock https://github.com/open-telemetry/opentelemetry-go-contrib/pull/15.

[2020-05-05 18:19] lizthegrey commented on #339
Please feel free to ask follow-ups in https://gitter.im/open-telemetry/getting-started

In general, it's helpful to be _able_ to create spans for each meaningful unit of work; however, if the overhead is too large, being able to feature flag off or sample the spans is required to achieve performance. See the Distributed Tracing book recently published by OTel contributors from Lightstep: http://sh

[2020-05-05 18:19] #339 closed

[2020-05-05 18:19] lizthegrey commented on #306
We have gotten approval from CNCF to migrate, we're just doing the details now.

[2020-05-05 19:17] MikeGoldsmith opened #340 "New contrib repository for .NET"
The .NET repository currently includes exporter code that should not be owned by the OpenTelemetry team. We're trying to find alternative homes for the current set of exporters with owning organisations the preferred destination but not all code was contributed by the organisation so will need somewhere else.

Other languages have a `opentelemetry-{lang}-contrib` repository for non-core code.

[2020-05-05 20:17] yurishkuro commented on #340
Created https://github.com/open-telemetry/opentelemetry-dotnet-contrib/ with you as admin, please finish the setup as needed.

[2020-05-05 20:17] #340 closed

[2020-05-05 21:01] SergeyKanzhelev commented on #169
Out of two videos today - 1 is failed to be uploaded... again...

![image](https://user-images.githubusercontent.com/9950081/81115612-da040c80-8ed8-11ea-9358-e799e002ae08.png)

@amye do you have some way to file a support ticket with Splain?

[2020-05-05 21:05] amye commented on #169
In progress now. :)

On Tue, May 5, 2020 at 2:01 PM Sergey Kanzhelev <notifications@github.com>
wrote:

--
Amye Scavarda Perrin | Program Manager | amye@linuxfoundation.org

[2020-05-06 07:27] james-bebbington opened #342 "REQUEST: New membership for james-bebbington"
### GitHub Username

@james-bebbington

### Organization you are requesting membership in

@open-telemetry

### Requirements

- [x] I have reviewed the community membership guidelines (https://github.com/open-telemetry/community/blob/master/community-membership.md)
- [x] I have enabled 2FA on my GitHub account. See https://github.com/settings/security
- [x] I have subscribed to the [Gitter channel

[2020-05-06 14:23] tylerbenson commented on #113
I suggested this purely out of desire to reduce visual clutter in the codebase, not because of any ulterior motive.  I hate seeing PRs filled with just license headers. To that end, I would support either a single top level license file or the short 2 line license above each file. A 10 line header is excessive.

[2020-05-06 15:13] bogdandrutu commented on #342
Invite sent.

[2020-05-06 15:13] #342 closed

[2020-05-06 16:35] yurishkuro commented on #113
Using the two-line header recommended by Apache is fine.

[2020-05-07 23:01] SergeyKanzhelev commented on #169
It's getting worse:

![image](https://user-images.githubusercontent.com/9950081/81352668-f8563d80-907b-11ea-8234-e20e0e17834d.png)

[2020-05-08 00:06] amye commented on #169
This is really starting to look like a YouTube timeout, no response yet from Splain. @lucperkins, other ideas?

[2020-05-08 00:17] lucperkins commented on #169
Has anyone experimented with the OSS tool?

[2020-05-08 17:49] tigrannajaryan commented on #164
We are now publishing to `otel`. Please close this issue.

[2020-05-08 18:31] yurishkuro commented on #164
https://hub.docker.com/u/otel

[2020-05-08 18:31] #164 closed

[2020-05-08 19:04] iNikem opened #344 "REQUEST: New membership for iNikem"
### GitHub Username

@iNikem

### Organization you are requesting membership in

@open-telemetry

### Requirements

- [x] I have reviewed the community membership guidelines (https://github.com/open-telemetry/community/blob/master/community-membership.md)
- [x] I have enabled 2FA on my GitHub account. See https://github.com/settings/security
- [x] I have subscribed to the [Gitter channel](https://

[2020-05-08 19:16] trask commented on #344
👍

[2020-05-08 19:36] SergeyKanzhelev commented on #344
Welcome, @iNikem!

[2020-05-08 19:36] #344 closed

[2020-05-08 19:44] pmcollins opened #345 "REQUEST: New membership for pmcollins"
### GitHub Username

@pmcollins

### Organization you are requesting membership in

open-telemetry

### Requirements

- [x] I have reviewed the community membership guidelines (https://github.com/open-telemetry/community/blob/master/community-membership.md)
- [x] I have enabled 2FA on my GitHub account. See https://github.com/settings/security
- [x] I have subscribed to the [Gitter channel](https:

[2020-05-08 20:09] tylerbenson commented on #344
Delayed 👍

[2020-05-11 16:18] tensorchen opened #346 "REQUEST: New membership for tensorchen"
### GitHub Username

@tensorchen

### Organization you are requesting membership in

@open-telemetry

### Requirements

- [x] I have reviewed the community membership guidelines (https://github.com/open-telemetry/community/blob/master/community-membership.md)
- [x] I have enabled 2FA on my GitHub account. See https://github.com/settings/security
- [x] I have subscribed to the [Gitter channel](http

[2020-05-11 16:49] jmacd commented on #346
I support this request! Thank you @tensorchen for your contributions.

[2020-05-11 18:09] amye commented on #169
Splain responded saying that there was a configuration issue but it should be fixed. Any better news, @SergeyKanzhelev?

[2020-05-11 19:46] SergeyKanzhelev commented on #346
Welcome, @tensorchen!

[2020-05-11 19:46] #346 closed

[2020-05-12 22:28] SergeyKanzhelev commented on #169
still bunch of failures:

![image](https://user-images.githubusercontent.com/9950081/81751901-3d57e680-9465-11ea-8ede-ab51e22ae506.png)

[2020-05-12 22:29] SergeyKanzhelev commented on #345
Sorry for delay. Welcome, @pmcollins!

[2020-05-12 22:29] #345 closed

[2020-05-13 13:22] pmcollins commented on #345
Thanks @SergeyKanzhelev !

[2020-05-13 18:46] dyladan commented on #306
@lizthegrey any update?

[2020-05-13 18:55] lizthegrey commented on #306
Thanks for the reminder, pinging CNCF

[2020-05-15 19:26] flands opened #347 "OpenTelemetry Google Slides template"
Hey everyone -- I put together an OpenTelemetry Google Slides template and thought it might be good to make it be available to others: https://docs.google.com/presentation/d/1Neab3OZ3c-m5kOE37iZXEVpK4Pjj6xGTJEUuUzLQJvk/edit?usp=sharing.

Questions:
* Does it make sense to offer something like this?
* If so, where should it live? Here or https://github.com/cncf/artwork/tree/master/projects/opentele

[2020-05-15 19:34] amye commented on #169
Splain reached out and said there's a known bug they're working on:
- "Issues in uploading to Google (YouTube, Google Drive and Shared/Team
Drive) because of the ‘time out’ error even after retries. We are trying to
find out a workaround in out code. (mostly during week days)"

I will update this as I hear back from Splain

On Tue, May 12, 2020 at 3:28 PM Sergey Kanzhelev <notifications@github.com

[2020-05-15 23:58] SergeyKanzhelev commented on #347
Great idea! Thank you for sharing. I'm not in position to give recommendations on design (but I will do anyway). Maybe @alexcontini and @caniszczyk can help?

Ideally we need it next to all other artwork at https://github.com/cncf/artwork/tree/master/projects/opentelemetry

Again, I'm not a design expert. I think slides even in current form are quite usable. Feedback:

[2020-05-18 15:16] jrcamp opened #349 "REQUEST: New membership for jrcamp"
### GitHub Username

@jrcamp

### Organization you are requesting membership in

@open-telemetry

### Requirements

- [x] I have reviewed the community membership guidelines (https://github.com/open-telemetry/community/blob/master/community-membership.md)
- [x] I have enabled 2FA on my GitHub account. See https://github.com/settings/security
- [x] I have subscribed to the [Gitter channel](https://

[2020-05-18 15:27] mtwo commented on #349
I support this as well

________________________________
From: Jay Camp <notifications@github.com>
Sent: Monday, May 18, 2020 8:16:58 AM
To: open-telemetry/community <community@noreply.github.com>
Cc: Subscribed <subscribed@noreply.github.com>
Subject: [open-telemetry/community] REQUEST: New membership for jrcamp (#349)

GitHub Username

@jrcamp<https://nam11.safelinks.protection.outlook.com/?url=

[2020-05-18 16:23] #349 closed

[2020-05-18 16:24] bogdandrutu commented on #349
Welcome to the community @jrcamp

[2020-05-18 21:17] trask opened #350 "Request for a repo-specific triage role"
Hi all!

It would be helpful if we could have a triage role for PM folks in the Java Auto-Instrumentation project so that they can contribute more effectively.

I think this is a different request from #206, which was a request for an org-wide triage role.

Thanks,
Trask

[2020-05-18 22:14] SergeyKanzhelev commented on #350
it is already covered here: https://github.com/open-telemetry/community/blob/master/community-membership.md#approver

We just introduced triager in dotnet repo

[2020-05-18 22:15] SergeyKanzhelev commented on #350
let me know if you need help setting it up

[2020-05-18 23:37] trask commented on #350
Is this still a requirement for approvers who are only doing issue triage?

[2020-05-19 00:00] SergeyKanzhelev commented on #350
it's a good idea to improve the language there. Not for triagers I think. It's mostly for maintainers to decide.

[2020-05-20 18:20] dyladan commented on #306
@lizthegrey sorry to keep bothering you, but is there an update on this?

[2020-05-20 18:23] lizthegrey commented on #306
I emailed CNCF to ask for an update, but given that it hasn't happened so far, I'm not going to block any longer.

[2020-05-20 18:30] dyladan commented on #306
If that's the case can an owner install the Forking Renovate plugin on both nodejs repositories?

[2020-05-20 18:57] lizthegrey commented on #306
@open-telemetry/technical-committee I believe has the bits to do this.

[2020-05-20 23:10] markcartertm opened #351 "Use Google groups for easier SIG membership control and self-service"
Currently the OpenTelemetry project uses groups.io rather than Google groups. google groups is more commonly used in other large OSS projects.
Groups.io is slow and causes email delays, have a poor search experience and most importantly is less accessible to screen reader users. Google groups will also make it easier for project members to have the OTEL meetings added to their calendar as if the g

[2020-05-20 23:12] markcartertm commented on #351
@mtwo  @tigrannajaryan  @SergeyKanzhelev  can you please bring up in next governance board meeting?

[2020-05-21 07:05] SergeyKanzhelev commented on #351
Let me try to summarize the request:

Agree on first two... It's actually quite annoying. What is "less accessible to screen reader users"?

Back in OpenCensus time, we used Google CLA. There were complains from people who didn't want to associate anything with the google accounts. Just bringing it as one of a drawback for google groups. Since k8s is using it - shouldn't be a big issue though.

We

[2020-05-21 15:11] caniszczyk commented on #351
I just want to re-iterate that CNCF lets projects choose your own infrastructure. The reason groups.io is available is things like Google Groups are banned in China. You can potentially go the route of GitHub Discussions which is a new feature of GitHub that can be enabled, see this as an example https://github.com/zeit/next.js/discussions

[2020-05-21 16:59] tedsuo commented on #350
@SergeyKanzhelev is it currently possible for maintainers to give access using the Triager Github role, specifically? No need to have privilege escalation if it is not necessary.

[2020-05-21 17:08] lizthegrey commented on #351
I hate groups.io as well :/ but including people in China also is valuable...

[2020-05-21 17:22] SergeyKanzhelev commented on #350
With the current repositories set up (https://github.com/open-telemetry/community/blob/master/docs/how-to-configure-new-repository.md) the way to do it is to add a person as approver, but do not add to CODEOWNERS

[2020-05-21 17:26] mtwo commented on #350
Update: @bogdandrutu will create a triage role for each repository after @tedsuo defines criteria for this role

[2020-05-21 18:47] mtwo commented on #351
@markcartertm which is the bigger challenge: group calendar invites or actual email discussions on groups.io? To be clear, I think that it handles both poorly, as do most members of the GC based off of this morning's discussion.

I ask because effectively all of the project's discussions take place on GitHub and Gitter, rather than on the mailing lists, and I don't think that switching mailing lis

[2020-05-21 23:17] SergeyKanzhelev commented on #347
@caniszczyk can you advice on where to place this template?

[2020-05-21 23:34] SergeyKanzhelev opened #353 "Populate assets file"
As we started documenting assets, creating issue to track some assets off the top of my head:

- [x] Calendar: @mtwo ?
- [ ] DockerHub @tigrannajaryan, @bogdandrutu ?
- [x] cncf-opentelemetry-ruby@lists.cncf.io @fbogsany @mwear
- [x] JS - npm? @open-telemetry/javascript-maintainers ?
- [ ] Java? @open-telemetry/java-maintainers ?
- [ ] Python? @open-telemetry/python-maintainers ?
- [x] CircleCI? @

[2020-05-22 00:13] caniszczyk commented on #347
@SergeyKanzhelev I'd probably just put it in this repo via a link for the gslides and a ppt file

[2020-05-26 15:56] andrewhsu commented on #317
If the release notes for a versioned spec release is clear in describing the updates in the new version, the language SIGs should use that to make sure the new version of the spec is implemented.

Today we have 10 language SIGs plus the collector SIG and each one is on varying states of spec adherence. A maturity matrix was introduced in #290 but it is not automated.

Ideally, would be good to hav

[2020-05-28 16:50] tedsuo commented on #350
PR is here: https://github.com/open-telemetry/community/pull/357

[2020-05-28 17:06] asuresh4 opened #358 "REQUEST: New membership for asuresh4"
### GitHub Username

@asuresh4

### Organization you are requesting membership in

@open-telemetry

### Requirements

- [x] I have reviewed the community membership guidelines (https://github.com/open-telemetry/community/blob/master/community-membership.md)
- [x] I have enabled 2FA on my GitHub account. See https://github.com/settings/security
- [x] I have subscribed to the [Gitter channel](https:

[2020-05-28 17:07] tigrannajaryan commented on #358
I support.

[2020-05-28 17:29] SergeyKanzhelev commented on #358
Welcome, @asuresh4!

[2020-05-28 17:29] #358 closed

[2020-05-28 17:34] SergeyKanzhelev commented on #353
When I was looking at helping @trask to establish a paid account, I didn't have permissions. Maybe I missed something. One thing we may need to mention in assets file is that MS is paying for the account and all related questions can be directed to @trask.

[2020-05-28 17:49] dyladan commented on #353
All packages are published under the `@opentelemetry` org. There are currently 41 packages, however some small handful of them are deprecated. Would say 35+ active.

@mayurkale22 is the "owner", I am an "admin" and @bogdandrutu is a "member" of the org. Not sure what permission each membership level is granted.

Unfortunately, there is no good way to list all of the packages in an organization wit

[2020-05-28 17:56] SergeyKanzhelev commented on #353
Can you simply mention opentelemetry org and it's admins in asset file then? So everybody knows who to ask if something needed there.

[2020-05-28 20:34] beniamin opened #360 "REQUEST: New membership for <beniamin>"
### GitHub Username

@beniamin

### Organization you are requesting membership in

@opent-telemetry

### Requirements

- [x] I have reviewed the community membership guidelines (https://github.com/open-telemetry/community/blob/master/community-membership.md)
- [x] I have enabled 2FA on my GitHub account. See https://github.com/settings/security
- [x] I have subscribed to the [Gitter channel](https

[2020-05-29 00:18] morrisonlevi commented on #360
:thumbsup:

On Thu, May 28, 2020, 2:34 PM Beniamin <notifications@github.com> wrote:

[2020-05-29 01:31] bobstrecansky commented on #360
👍

[2020-05-29 04:04] SergeyKanzhelev commented on #360
welcome, @beniamin

[2020-05-29 04:04] #360 closed

[2020-05-29 06:20] yaitskov opened #361 "Review help"
There is a PR which helps OpenTelemetry in Haskell.
https://gitlab.haskell.org/ghc/ghc/-/merge_requests/3382

[2020-05-29 15:49] tylerbenson opened #362 "Please reevaluate Gitter"
Can we please reconsider Slack for community discussion?  Gitter is so buggy and really frustrating to use.  I know there is a lot of previous debate on this subject, but Gitter has if anything gotten worse since we last evaluated it.

[2020-05-29 15:57] bhs commented on #362
I hear you...

Snippet from https://github.com/open-telemetry/community/issues/53#issuecomment-512092906 👍

(Emphasis added)

So... yeah, it can be reevaluated. The concerns last time were basically around transparency and accessibility of OTel conversations, so if we move to Slack, we should be prepared to explain to ourselves "what changed" on that front.

BTW, I am personally "+1 for Slack" but

[2020-05-29 19:29] SergeyKanzhelev commented on #362
another option is to minimize the need for gitter conversations and threads and move most of it to github discussions or similar forum. I'd much prefer low traffic chat and async discussions

[2020-06-01 02:58] ymotongpoo opened #364 "Japanese translation for OpenTelemetry docs"
Hi all,

First of all, I appreciate all works done here for OpenTelemetry! Now the attention to OpenTelemetry is getting larger and larger from all over the world, and it would be great we can start Japanese translation project like #154.

The background is we have conducted [2 OpenTelemetry (OpenCensus) meetups](https://opencensus.connpass.com/) while ago, which has been stalled for a year to wai

[2020-06-01 03:53] SergeyKanzhelev commented on #364
https://github.com/open-telemetry/docs-ja/

Made you a maintainer for the repo, please let me know who else needs to be on a team.

[2020-06-01 03:54] #364 closed

[2020-06-01 11:02] ymotongpoo commented on #364
Thank you @SergeyKanzhelev for quick reaction! @katzchang is another coorganizer for the repo, so could you add him to the team?

[2020-06-01 14:31] naseemkullah opened #365 "REQUEST: New membership for @naseemkullah"
Hello 👋 😃

### GitHub Username

@naseemkullah

### Organization you are requesting membership in

@open-telemetry

### Requirements

- [x] I have reviewed the community membership guidelines (https://github.com/open-telemetry/community/blob/master/community-membership.md)
- [x] I have enabled 2FA on my GitHub account. See https://github.com/settings/security
- [x] I have subscribed to the [Gitter

[2020-06-01 14:31] dyladan commented on #365
👍

[2020-06-01 14:33] dyladan commented on #365
We were in the process of making Naseem an approver on the JS repo when we realized he hadn't done this yet 😆. He has been contributing to JS for a while now.

[2020-06-01 17:10] SergeyKanzhelev commented on #365
yes, sometimes it comes as a surprise =)

@naseemkullah, welcome!

[2020-06-01 17:10] #365 closed

[2020-06-01 17:11] SergeyKanzhelev commented on #364
you both are maintainers of a repository now.

[2020-06-01 17:22] naseemkullah commented on #365
Thanks @SergeyKanzhelev and @dyladan!

[2020-06-01 18:42] mtwo commented on #351
I've created a Google group for people who want calendar invites sent directly to them (rather than adding an additional calendar to GMail / Outlook): https://groups.google.com/forum/#!forum/opentelemetry-calendar

[2020-06-01 21:40] alolita commented on #351
I tried but don't seem to have access.

[2020-06-01 21:45] mtwo commented on #351
Changed a setting, can you try again?

[2020-06-02 16:35] jkowall opened #367 "Concerned with diversity in technical groups"
This is a question for the governance team. I have noticed in attending the SIGs for tracing, logging, and metrics that not a single Woman has been in attendance on the calls. I believe we have an issue on the technical side with diversity. I believe we need to make a more concerted effort to be more inclusive. @tedsuo made some great comments on the call how this is uncomfortable and difficult to

[2020-06-02 19:04] bhs commented on #367
Thanks for raising this, @jkowall – and I agree completely that (a) this is a big problem, and (b) that we should take real action as a project to improve the status quo.

I've added it to the OTel gov committee agenda for a scheduled meeting we have on Thursday. One of us will report back about AIs/etc after that call.

[2020-06-02 23:31] jkowall commented on #367
@bhs if you'd like me to join let me know. I'm happy to assist in trying to correct it. I also would like more participation in the broader community from Women. Thanks, Ben.

[2020-06-02 23:46] bhs commented on #367
The meeting on Thursday is a recurring GC-internal thing with an agenda that includes a variety of other unrelated items.

_Unfortunately_, though, there is a 0% chance we'll be able to actually resolve OTel diversity and inclusion at the GC meeting... so I'm confident there will be some follow-on activities that will be, well, _inclusive_ (and open to the whole community). Hope that works.

[2020-06-03 15:39] dyladan commented on #306
Someone (I assume @open-telemetry/technical-committee) began the process of installing renovate on our contrib repo (the process was already started on our main repo), but the issue still remains that we cannot merge the PRs because the bot has not "signed" the CLA. Installing [Forking Renovate](https://github.com/apps/forking-renovate) instead of Renovate should solve this issue.

[2020-06-03 15:57] lizthegrey commented on #306
@dyladan we have successfully gotten LF/CNCF approval to install the new CLA bot, and are working on implementation!

[2020-06-03 15:58] dyladan commented on #306
Great! Any ETA?

[2020-06-03 16:01] lizthegrey commented on #306
This week!

[2020-06-03 16:02] lizthegrey commented on #306
Once the CLA bot is installed, we'll need you to retrigger CI on at least one pull with the traditional Renovate bot, and then I can get it added as an override.

[2020-06-04 20:45] aabmass opened #368 "REQUEST: New membership for @aabmass"
### GitHub Username

@aabmass

### Organization you are requesting membership in

@open-telemetry

### Requirements

- [x] I have reviewed the community membership guidelines (https://github.com/open-telemetry/community/blob/master/community-membership.md)
- [x] I have enabled 2FA on my GitHub account. See https://github.com/settings/security
- [x] I have subscribed to the [Gitter channel](https:/

[2020-06-04 21:57] toumorokoshi commented on #368
I sponsor. Thanks!

[2020-06-04 22:46] cnnradams opened #369 "REQUEST: New membership for @cnnradams"
### GitHub Username

@cnnradams

### Organization you are requesting membership in

@open-telemetry

### Requirements

- [x] I have reviewed the community membership guidelines (https://github.com/open-telemetry/community/blob/master/community-membership.md)
- [x] I have enabled 2FA on my GitHub account. See https://github.com/settings/security
- [x] I have subscribed to the [Gitter channel](https

[2020-06-04 22:48] SergeyKanzhelev commented on #368
Welcome, @aabmass!

[2020-06-04 22:48] #368 closed

[2020-06-04 22:49] bhs opened #370 "OTel D&I: better periodic measurement of OTel community diversity and inclusion"
In #367 an OTel community member brought up the uncomfortable truth that the diversity of participants in OTel SIGs is – what's the word? – "minimal". (I.e., nearly or actually 100% white males)

The OTel governance committee would like to kick off two parallel efforts: one to periodically **measure** OTel community D&I, and another to actually **improve those measurements** over time.

This issue

[2020-06-04 22:55] toumorokoshi commented on #369
I sponsor. Thanks Connor!

[2020-06-04 23:02] bhs opened #371 "Substantially improve OTel D&I"
This is a companion issue to https://github.com/open-telemetry/community/issues/370; from the "preface" there:

This issue is about *actually improving our numbers* over time.

In the governance committee (GC) discussion this AM, naturally there was a lot of enthusiasm for the _goal_ here, but (clearly) it will take real work; and we would like to move well beyond token gestures that will have lit

[2020-06-04 23:02] bhs commented on #367
@jkowall are you ok with me closing this issue and moving the discussion to #370 and #371 (which are slightly more targeted)?

[2020-06-04 23:15] SergeyKanzhelev commented on #369
welcome, @cnnradams!

[2020-06-04 23:15] #369 closed

[2020-06-04 23:32] bhs commented on #370
For diversity, I would like it if we could capture the following, if possible (while respecting personal privacy / "making it opt-in", and also remaining in compliance with regulations, of course):
* Gender identity
* Ethnicity
* Years of industry experience (or other proxies for seniority)
* OTel activity stats (when were they added? how often do they contribute or participate?)
* Role in OTel (G

[2020-06-04 23:32] #367 closed

[2020-06-05 00:53] AndrewAXue opened #372 "REQUEST: New membership for @AndrewAXue"
### GitHub Username

@AndrewAXue

### Organization you are requesting membership in

@open-telemetry

### Requirements

- [x] I have reviewed the community membership guidelines (https://github.com/open-telemetry/community/blob/master/community-membership.md)
- [x] I have enabled 2FA on my GitHub account. See https://github.com/settings/security
- [x] I have subscribed to the [Gitter channel](http

[2020-06-05 00:54] lzchen commented on #372
I sponsor this hard-working man.

[2020-06-05 03:47] SergeyKanzhelev commented on #372
welcome, @AndrewAXue!

[2020-06-05 03:47] #372 closed

[2020-06-05 11:41] jkowall commented on #371
Otel is largely vendor controlled with some big and small ones involved. The large/controlling vendors (with thousands of employees) could try to find more diverse participants internally to get involved or at least be part of the contributing group. I don't want to name names, but some of those vendors have good diversity stats, while others struggle with that as an organization. I think we can s

[2020-06-05 11:44] jkowall commented on #371
Yet another idea which is managed by the linux foundation and hence loosely coupled to CNCF. https://github.com/chaoss/wg-diversity-inclusion

[2020-06-05 18:28] bhs commented on #371
One idea – perhaps controversial – would be to require vendors _who have a seat on the governance committee_ to also staff diverse maintainers and approvers on the project.

[2020-06-05 19:15] bhs commented on #362
@tylerbenson and anyone else watching this thread – we talked about this at the governance committee meeting yesterday and came up with the following:

We *will* be switching to the CNCF Slack instance, **BUT...**
* We do not want to disrupt comms as we move (hopefully quickly!) towards OTel GA. So, for that reason, we will move to (CNCF) Slack only **after** OTel has reached GA.
* The historical

[2020-06-05 19:23] lizthegrey commented on #370
Also potentially relevant, especially the nature of what we do: whether someone self-identifies as being disabled or having a disability... because if telemetry and resulting data isn't accessible, then it excludes people from being systems operators & developers.

[2020-06-05 19:53] lizthegrey commented on #309
Yes, it's done. Most CLAs were migrated, but some may need to be re-signed.

[2020-06-05 19:54] lizthegrey commented on #306
New bot is installed. Please trigger at least one PR with the Renovate bot so I can forward the approval link to the CNCF triage desk to be allowlisted.

[2020-06-05 19:58] lizthegrey commented on #309
@flands For you, I see signatures migrated from Omnition but there is no signature on file for Splunk. Please follow https://docs.linuxfoundation.org/docs/communitybridge/communitybridge-easycla/ccla-managers-and-ccla-signatories/sign-in-to-the-cla-corporate-console to get Splunk as an authorized signatory.

[2020-06-05 20:00] flands commented on #309
Thanks -- I will take a look

[2020-06-05 20:01] dyladan commented on #306
Not sure which link you need from the PR, but here is a direct link to the PR bot's response https://github.com/open-telemetry/opentelemetry-js/pull/829#issuecomment-639765944

[2020-06-05 20:14] lizthegrey commented on #306
Thank you! Filed https://jira.linuxfoundation.org/servicedesk/customer/portal/4/SUPPORT-1388 with CNCF, they'll get it allowlisted in short order.

[2020-06-05 21:19] lizthegrey commented on #306
Should be allowlisted. Please use commands to ask bot to rebase or reopen pull.

[2020-06-05 21:20] lizthegrey commented on #306
"EasyCLA check passed. You are authorized to contribute."

[2020-06-05 21:20] #306 closed

[2020-06-05 21:35] lizthegrey commented on #309
See email just sent to otel maintainers: you'll see both checks in Github checks but you need to take action to migrate which check is `Required` in your branch protection settings.

[2020-06-05 22:29] flands commented on #309
Got it -- concern is just hearing about this now (perhaps it was communicated somewhere else and missed it). Not sure how many contributors/maintainers are impacted, but if maintainers toggle this it seems like folks may be impacted. Trying to mitigate on the Splunk side now.

[2020-06-05 22:30] #309 closed

[2020-06-05 22:40] lizthegrey commented on #309
We believe a majority of contributors are covered under existing CLAs, we did an audit of the top 50 contributing organizations prior to this, and as I said, we've asked maintainers to slowly flip it according to their SIG's migration state with a 2-week rough time to migrate.

[2020-06-05 22:51] toumorokoshi commented on #362
Just another datapoint: https://discord.com/ has personally been great for the OSS communities I participate in there:

1. easy for the public to join
2. easy to manage multiple communities for an end-user
3. good thread / code support

But CNCF slack makes sense, although I'm curious how they solve the public aspect.

[2020-06-05 22:58] trask commented on #309
How do I sign up for this email list? Just want to make sure I don't miss something important. Thanks!

[2020-06-05 23:34] SergeyKanzhelev commented on #309
@trask let me look into it.

@lizthegrey currently the mailing list does not contain maintainers. Perhaps you can post the mention and mention maintainers via teams (like @open-telemetry/java-instrumentation-approvers  )?

Also I'm not sure if maintainers with the "Maintain" permissions has access to `master` branch checks enforcing.

[2020-06-06 03:38] pyohannes opened #376 "REQUEST: New membership for @pyohannes"
### GitHub Username

@pyohannes

### Organization you are requesting membership in

@open-telemetry

### Requirements

- [x] I have reviewed the community membership guidelines (https://github.com/open-telemetry/community/blob/master/community-membership.md)
- [x] I have enabled 2FA on my GitHub account. See https://github.com/settings/security
- [x] I have subscribed to the [Gitter channel](https

[2020-06-06 03:42] reyang commented on #376
Welcome @pyohannes!

[2020-06-06 03:57] SergeyKanzhelev commented on #376
Welcome, @pyohannes!

[2020-06-06 03:57] #376 closed

[2020-06-06 04:06] trask commented on #371
(uncontroversial) don't refer to generic users/contributors/etc using male pronouns, e.g. _user sets his own propagators_

[2020-06-07 21:30] bhs commented on #362
@toumorokoshi DIscord has come up from time to time. I have non-religious feelings about all of this, but I think the basic argument has simply been that "more of the OTel community already has a Slack client running on their desktop."

[2020-06-07 22:19] trask commented on #371
don't use the terms whitelist and blacklist, instead use something more descriptive that doesn't rely on/reinforce white=good black=bad, e.g. allowlist and denylist

[2020-06-08 14:26] tylerbenson commented on #362
@bhs Thanks for the update.  I think it's very reasonable to encourage meaningful discussions/decisions to be made outside of slack.  I'm a little sad that we'll have to wait until after "GA" since that seems to be a bit of a moving target.  I wish it was instead that individual SIGs could start moving over as they're ready. Can we start creating channels there?

[2020-06-08 16:02] lizthegrey commented on #309
oh, interesting, `cncf-opentelemetry-maintainers@lists.cncf.io` isn't the right way to email all maintainers? TIL.

well, let's do it this way then:

@open-telemetry/dotnet-maintainers
@open-telemetry/php-maintainers
@open-telemetry/javascript-maintainers
@open-telemetry/java-instrumentation-maintainers
@open-telemetry/java-maintainers
@open-telemetry/go-maintainers (already done for y'all <3)
@op

[2020-06-08 21:35] majorgreys opened #378 "REQUEST: New membership for majorgreys"
### GitHub Username

@majorgreys

### Organization you are requesting membership in

@open-telemetry

### Requirements

- [x] I have reviewed the community membership guidelines (https://github.com/open-telemetry/community/blob/master/community-membership.md)
- [x] I have enabled 2FA on my GitHub account. See https://github.com/settings/security
- [x] I have subscribed to the [Gitter channel](http

[2020-06-08 23:15] tigrannajaryan commented on #309
FWIW, I am a maintainer and I haven't seen any emails either. I cannot merge any PRs anymore and I suspect nobody from Splunk can contribute.

Would be good to fix the mailing list so that we are not caught by surprise next time changes like this happen.

[2020-06-08 23:18] tigrannajaryan commented on #309
BTW, this is posted on Gitter but I am not sure I fully understand what it means:

It would be nice if we actually had the grace which this appears to hint to.

[2020-06-08 23:26] tigrannajaryan commented on #309
@open-telemetry/admins Is there a way to postpone the new CLA bot rollout for spec/proto repos for the 2 weeks that was mentioned as grace period to switch? It is going to take several days at least for my company to review the new CLA and in the meantime I have time-sensitive PRs to merge that I am unable to.

[2020-06-09 00:08] tsloughter commented on #309
I also don't seem to  be on that mailing list.

But also, I don't see "easycla" in the branch protections on the Erlang repos.

Is it supposed to be an action that runs? I don't see an entry for that on the repos either.

[2020-06-09 00:28] tigrannajaryan commented on #309
OK, it appears the issue not so urgent. The new EasyCLA bot shows that the build is failing, but actually it is misleading, it is still is possible to merge builds. I think we are good for now and have enough time to address this.

[2020-06-09 13:34] lizthegrey opened #379 "Disable old linuxfoundation CLA"
Tracking issue for completion of the EasyCLA migration (to be completed on June 18)

- [x] [open-telemetry/community](https://github.com/open-telemetry/community/settings/branches)
- [x] [open-telemetry/docs-cn](https://github.com/open-telemetry/docs-cn/settings/branches)
- [x] [open-telemetry/docs-ja](https://github.com/open-telemetry/docs-ja/settings/branches)
- [x] [open-telemetry/opentelemetry

[2020-06-09 13:36] flands commented on #379
Can we please hold off on this for at least another week? At least Splunk and Grafana Labs are impacted by the new CLA and will require time to get it formally approved.

[2020-06-09 13:42] lizthegrey commented on #379
Yup, just a tracking issue, will wait another 1.5 weeks.

[2020-06-09 13:46] lizthegrey commented on #379
@flands would it help if instead of re-signing, I asked the Linux Foundation to migrate your existing CLA?

[2020-06-09 15:08] tedsuo commented on #371
How, as an OSS community, can we do outreach? OTel does not directly hire or take on internships, which are two primary drivers for real inclusion. Are there examples of other OSS projects having success with organizing and outreach?

[2020-06-09 15:23] tedsuo commented on #370
@lizthegrey to that extent, we should also ensure the OTel website is ARIA friendly.

[2020-06-09 16:25] ccaraman commented on #379
@open-telemetry/admins - We should undo the Community repository from enforcing the EasyCLA for now.

 I think Community should be the last repository to enforce the new CLA as we have seen that there are large gaps in who got the communication around the new process. (https://github.com/open-telemetry/community/issues/309) By having it turned on here first, this blocks users in the limbo area fro

[2020-06-09 16:36] lizthegrey commented on #379
I'll revert!

[2020-06-09 16:37] lizthegrey commented on #309
Correct, it's an advisory but non-mandatory warning until the repo is switched over.

[2020-06-09 16:46] yurishkuro commented on #371
@tedsuo the Jaeger project has often participated in Outreachy, which provides internships to minorities. However, the nature of internships are such that people finish them and move on to something else, so I don't think we retained any interns as long-term contributors. In my 5yr experience with open source, people tend to contribute the most when it's part of their day jobs, which makes the sug

[2020-06-09 16:47] bhs commented on #362
@tylerbenson let's make "GA" less of a moving target, then???

[2020-06-09 17:22] yurishkuro commented on #379
@flands it is my understanding that the CLA itself is unchanged, it's only the mechanism for checking it. When I did a test PR, all I had to do was to confirm that I still work at Uber, I was not required to re-sign the CLA. Are you seeing something different?

[2020-06-09 17:25] toumorokoshi commented on #378
Sponsored +1! @majorgreys has been a huge help during his short time with the project.

[2020-06-09 21:00] codeboten commented on #378
+1

[2020-06-09 21:12] SergeyKanzhelev commented on #378
Welcome, @majorgreys!

[2020-06-09 21:12] #378 closed

[2020-06-10 02:32] iredelmeier commented on #371
So, I believe that there are (at least) two separate things that can and should be addressed:

1. How can OpenTelemetry be more **inclusive** _within_ the project and community?
2. How can OpenTelemetry be leveraged to help more people succeed _outside_ the project itself, i.e., in their careers?

While neither of the above directly addresses the problem of OpenTelemetry's diversity numbers, they

[2020-06-10 03:12] parispittman commented on #371
Hi all - we formed a new sig at the [cncf level for contributor strategy](https://github.com/cncf/sig-contributor-strategy) and we can help give y'all some guidance and learn together if you'd like. I'm happy that you are putting this out there for your community to discuss.

There are numerous outreach activities that can help but I do want to echo giving this work the intentional space it needs.

[2020-06-10 23:11] ymotongpoo commented on #364
Could you add @shirou as the coorganizer as well?

[2020-06-10 23:27] SergeyKanzhelev commented on #364
done

[2020-06-12 02:32] anuraaga opened #381 "REQUEST: New membership for anuraaga"
### GitHub Username

@anuraaga

### Organization you are requesting membership in

@open-telemetry

### Requirements

- [X] I have reviewed the community membership guidelines (https://github.com/open-telemetry/community/blob/master/community-membership.md)
- [X] I have enabled 2FA on my GitHub account. See https://github.com/settings/security
- [X] I have subscribed to the [Gitter channel](https:

[2020-06-12 02:58] trask commented on #381
👍

[2020-06-12 03:30] yurishkuro commented on #381
👍

[2020-06-12 04:23] alolita opened #382 "REQUEST: New membership for alolita"
### GitHub Username

@alolita

### Organization you are requesting membership in

@open-telemetry

### Requirements

- [✅ ] I have reviewed the community membership guidelines (https://github.com/open-telemetry/community/blob/master/community-membership.md)
- [✅] I have enabled 2FA on my GitHub account. See https://github.com/settings/security
- [✅ ] I have subscribed to the [Gitter channel](https

[2020-06-12 04:56] mtwo commented on #382
I support this

________________________________
From: Alolita Sharma <notifications@github.com>
Sent: Thursday, June 11, 2020 9:23:30 PM
To: open-telemetry/community <community@noreply.github.com>
Cc: Morgan McLean <morgan_mclean@hotmail.com>; Mention <mention@noreply.github.com>
Subject: [open-telemetry/community] REQUEST: New membership for alolita (#382)

GitHub Username

@alolita<https://eur0

[2020-06-12 04:58] reyang commented on #382
Welcome to the community @alolita!

[2020-06-12 05:07] alolita commented on #382
Thanks! Excited to contribute to the project! @reyang @mtwo 🙏

[2020-06-12 09:38] legendecas opened #383 "REQUEST: New membership for legendecas"
### GitHub Username

@legendecas

### Organization you are requesting membership in

@open-telemetry

### Requirements

- [x] I have reviewed the community membership guidelines (https://github.com/open-telemetry/community/blob/master/community-membership.md)
- [x] I have enabled 2FA on my GitHub account. See https://github.com/settings/security
- [x] I have subscribed to the [Gitter channel](http

[2020-06-12 15:24] ankit-bhargava opened #384 "REQUEST: New membership for abharg"
### GitHub Username

@ankit-bhargava

### Organization you are requesting membership in

@open-telemetry

### Requirements

- [✅] I have reviewed the community membership guidelines (https://github.com/open-telemetry/community/blob/master/community-membership.md)
- [✅] I have enabled 2FA on my GitHub account. See https://github.com/settings/security
- [✅] I have subscribed to the [Gitter channel](

[2020-06-12 16:02] HudsonHumphries opened #385 "REQUEST: New membership for HudsonHumphries"
### GitHub Username

@HudsonHumphries

### Organization you are requesting membership in

@open-telemetry

### Requirements

- [✅] I have reviewed the community membership guidelines (https://github.com/open-telemetry/community/blob/master/community-membership.md)
- [✅] I have enabled 2FA on my GitHub account. See https://github.com/settings/security
- [✅] I have subscribed to the [Gitter channel]

[2020-06-12 16:06] Brandon-Kimberly opened #386 "REQUEST: New membership for Brandon-Kimberly"
### GitHub Username

@Brandon-Kimberly

### Organization you are requesting membership in

@open-telemetry

### Requirements

- [x] I have reviewed the community membership guidelines (https://github.com/open-telemetry/community/blob/master/community-membership.md)
- [x] I have enabled 2FA on my GitHub account. See https://github.com/settings/security
- [x] I have subscribed to the [Gitter channel

[2020-06-12 16:28] mtwo commented on #384
I support this

________________________________
From: Ankit Bhargava <notifications@github.com>
Sent: Friday, June 12, 2020 8:24:31 AM
To: open-telemetry/community <community@noreply.github.com>
Cc: Morgan McLean <morgan_mclean@hotmail.com>; Mention <mention@noreply.github.com>
Subject: [open-telemetry/community] REQUEST: New membership for abharg (#384)

GitHub Username

@ankit-bhargava<https://

[2020-06-12 16:28] mtwo commented on #385
I support this

________________________________
From: Hudson Humphries <notifications@github.com>
Sent: Friday, June 12, 2020 9:02:38 AM
To: open-telemetry/community <community@noreply.github.com>
Cc: Morgan McLean <morgan_mclean@hotmail.com>; Mention <mention@noreply.github.com>
Subject: [open-telemetry/community] REQUEST: New membership for HudsonHumphries (#385)

GitHub Username

@HudsonHumphr

[2020-06-12 16:28] mtwo commented on #386
I support this

________________________________
From: Brandon Kimberly <notifications@github.com>
Sent: Friday, June 12, 2020 9:06:25 AM
To: open-telemetry/community <community@noreply.github.com>
Cc: Morgan McLean <morgan_mclean@hotmail.com>; Mention <mention@noreply.github.com>
Subject: [open-telemetry/community] REQUEST: New membership for Brandon-Kimberly (#386)

GitHub Username

@Brandon-Kim

[2020-06-12 16:34] reyang commented on #386
Welcome @Brandon-Kimberly!

[2020-06-12 16:35] reyang commented on #385
Welcome @HudsonHumphries!

[2020-06-12 16:35] reyang commented on #384
Welcome @ankit-bhargava!

[2020-06-12 19:06] mayurkale22 commented on #383
I support this.

[2020-06-12 19:10] dyladan commented on #383
I also support this.

[2020-06-12 19:13] shivkanya9146 opened #387 "REQUEST: New membership for @shivkanya9146"
### GitHub Username

@shivkanya9146

### Organization you are requesting membership in

@open-telemetry

### Requirements

- [x] I have reviewed the community membership guidelines (https://github.com/open-telemetry/community/blob/master/community-membership.md)
- [x] I have enabled 2FA on my GitHub account. See https://github.com/settings/security
- [x] I have subscribed to the [Gitter channel](h

[2020-06-12 19:25] mayurkale22 commented on #387
I support this.

[2020-06-14 02:53] SergeyKanzhelev commented on #382
Welcome, @alolita!

[2020-06-14 02:53] #382 closed

[2020-06-14 02:54] SergeyKanzhelev commented on #381
welcome, @anuraaga

[2020-06-14 02:54] #381 closed

[2020-06-14 02:56] SergeyKanzhelev commented on #387
Welcome, @shivkanya9146!

[2020-06-14 02:57] SergeyKanzhelev commented on #383
Welcome, @legendecas

[2020-06-14 02:57] #383 closed

[2020-06-14 02:58] SergeyKanzhelev commented on #384
Welcome, @ankit-bhargava!

[2020-06-14 02:58] #384 closed

[2020-06-14 02:58] SergeyKanzhelev commented on #385
Welcome, @HudsonHumphries!

[2020-06-14 02:58] #385 closed

[2020-06-14 02:59] SergeyKanzhelev commented on #386
Welcome, @Brandon-Kimberly!

[2020-06-14 02:59] #386 closed

[2020-06-16 13:53] lizthegrey commented on #379
@bogdandrutu how did discussion at maintainer meeting go? Do we need another week or am I good to swap the CLAs as of Friday?

[2020-06-16 17:47] keitwb opened #390 "REQUEST: New membership for keitwb"
### GitHub Username

@keitwb

### Organization you are requesting membership in

@open-telemetry

### Requirements

- [X] I have reviewed the community membership guidelines (https://github.com/open-telemetry/community/blob/master/community-membership.md)
- [X] I have enabled 2FA on my GitHub account. See https://github.com/settings/security
- [X] I have subscribed to the [Gitter channel](https://

[2020-06-16 19:42] SergeyKanzhelev commented on #390
Welcome, @keitwb!

[2020-06-16 19:42] #390 closed

[2020-06-16 19:44] SergeyKanzhelev commented on #169
Those red uploads keeps happening... Loosing a lot of recordings.

[2020-06-16 19:52] amye commented on #169
The recordings should still be in Zoom and can be manually uploaded.

On Tue, Jun 16, 2020 at 12:44 PM Sergey Kanzhelev <notifications@github.com>
wrote:

--
Amye Scavarda Perrin | Program Manager | amye@linuxfoundation.org

[2020-06-16 19:59] SergeyKanzhelev commented on #169
@amye definitely. I just noted it FYI if you will consider Splain for other projects.

Perhaps I can post a message on readme suggesting that if specific meeting recording is needed so it can be specifically requested. It'a quite time consuming fishing for the meetings in zoom. Thank you!

[2020-06-16 20:01] amye commented on #169
Oh completely understood! I just didn't want you to think they were gone
forever!
Splain has said there are some current timeout issues going on, and I
suspect this is the outcome of that.

On Tue, Jun 16, 2020 at 12:59 PM Sergey Kanzhelev <notifications@github.com>
wrote:

--
Amye Scavarda Perrin | Program Manager | amye@linuxfoundation.org

[2020-06-18 16:34] bhs commented on #370
For anybody watching this issue, per the initial issue description, we are entering the following phase:

So, consider this message a reminder to start that process.

[2020-06-18 16:34] bhs commented on #371
For anybody watching this issue, per the initial issue description, we are entering the following phase:

So, consider this message a reminder to start that process.

[2020-06-18 17:07] iNikem opened #392 "Access to CNCF AWS account"
Java Instrumentation SIG wants to use AWS S3 service as part of their build infrastructure (see open-telemetry/opentelemetry-java-instrumentation#490 for technical reasons). I wonder if CNCF already has an AWS account and if Otel can have access to it?

In addition, @anuraaga mentioned this:

https://aws.amazon.com/blogs/opensource/aws-promotional-credits-open-source-projects/

It would be awesome

[2020-06-19 05:32] anuraaga commented on #392
From what I understand, @mtwo is currently checking in on how to make this happen. Stay tuned :)

[2020-06-22 06:14] tensorchen opened #395 "Request to participate in docs-cn maintenance"
Hi all,

I am a developer from China, and very happy to be a member of opentelemetry #346. I have been continuously monitoring the progress of opentelemetry, and also participated in the contributions of opentelemetry-rust, opentelemetry-go, used opentelemetry-collector in the company's business.

With more and more attention to opentelemetry in China, It would be great if there is a Chinese docum

[2020-06-22 16:14] yurishkuro commented on #395
Maintainer status needs to be decided by the current maintainers of the docs-cn repo. Moving the issue there.

[2020-06-22 16:17] mtwo commented on #392
Chatted with @alolita during the maintainers meeting. She'll get in touch with Amye at the CNCF so that we can get access to these credits.

[2020-06-23 22:55] tigrannajaryan opened #397 "New a new role in between Member and Approver"
We currently have 3 membership levels defined: Member, Approver and Maintainer.

This worked fine while the project was small. However, now that we have a lot more people contributing I feel that there is not enough granularity available between Member and Approver.

Member works fine for occasional, infrequent contributors.

Approvers works fine for those that do the heavy lifting and we have a p

[2020-06-24 15:32] arminru commented on #397
Aren't the permissions you're asking for exactly the ones defined in the [Triager role](https://help.github.com/en/github/setting-up-and-managing-organizations-and-teams/repository-permission-levels-for-an-organization#repository-access-for-each-permission-level) which will be added to our membership levels in #357?
If only the term "Triager" is a concern because it sounds too PM-ish and not like

[2020-06-24 16:12] bhs commented on #397
FWIW, I agree with the spirit of @arminru's note above – we should either use the forthcoming `Triager` role to plug this gap XOR rename it to make that possible. Adding some sort of fifth role seems like evidence that one of the other four roles needs to be redefined in some way.

I am fine with calling the new role `Triager`, though it seems that an important distinction between `Member` and `Tr

[2020-06-24 18:13] tigrannajaryan commented on #397
I am fine if it is the same role and yes the permissions seem to be the same. I slightly prefer the name "Contributor" but I am OK with the other names.

[2020-06-24 19:56] SergeyKanzhelev commented on #397
I think there is an important difference. If we are not writing any automation like kubernetes's prow that will allow to assign issues and add labels using comments, but instead give a full triage permission, we need to emphasize it in the role name. So it's clear that person in this role have rights to change and set milestones, assign issues to milestones, add or remove labels, etc.

If we simpl

[2020-06-24 20:18] yurishkuro commented on #397
@SergeyKanzhelev do you know if we can onboard OTEL repos onto k8s robot?

[2020-06-24 21:26] SergeyKanzhelev commented on #397
I don't know and after quick search it looks quite specific to kubernetes https://github.com/kubernetes/test-infra/tree/master/prow maybe we can borrow some code.

Also I looked github actions: https://github.com/marketplace?after=Y3Vyc29yOjIw&query=assign&type=actions there is none that do exactly what we want=(

[2020-06-25 01:17] Brandon-Kimberly opened #398 "Proposal: Providing a Consistent CI/CD Experience"
## Introduction

Across all OpenTelemetry repositories there is currently 5 different, active CI providers. Each of these providers have their own way of executing tests, interacting with the user, and publishing test results. This can make it difficult for newcomers to contribute to multiple OpenTelemetry repositories.

## Current Landscape

|Repository	|CI Provider	|Automated Build and Test	|Cod

[2020-06-25 19:51] SergeyKanzhelev commented on #398
Thank you for analysis. Last this question was discussed we intentionally kept the decision of CI pipeline of choice to maintainers of an individual repositories. And giving all advantages you mentioned, there may be enough incentive for maintainers to switch. If not - I'm not sure how we can compare the benefits of making it easy for newcomer to contribute to many repositories with potential issu

[2020-06-29 16:38] tigrannajaryan opened #399 "Add Log approvers"
According to the suggestion in https://github.com/open-telemetry/opentelemetry-specification/pull/661 and based on the past active contributions to the Log SIG I am proposing @kumoroku and @zenmoto as initial Log approvers.

[2020-06-29 16:39] tigrannajaryan commented on #399
@open-telemetry/technical-committee please have a look.

[2020-06-29 16:41] yurishkuro commented on #399
+1

[2020-06-29 17:03] jkwatson commented on #398
For Java, we get automatic Javadoc publishing via javadoc.io. https://www.javadoc.io/doc/io.opentelemetry I'm not sure if the docs-deployment was another thing, though.

[2020-06-29 17:31] Brandon-Kimberly commented on #398
Good catch! Updated.

[2020-06-29 22:25] trask commented on #398
hey @Brandon-Kimberly! in the [Java Instrumentation repository](https://github.com/open-telemetry/opentelemetry-java-instrumentation), we are currently using CircleCI's `xlarge` instances (8 cores, 16 GB). I tried super unsuccessfully a while back to fit into the CircleCI free tier (2 GB), but I think it's much more likely we could fit into the Github Actions runner (2 cores, 7 GB). We would need

[2020-06-30 00:27] trask commented on #392
Hey @alolita, any update on this issue? we are keen to start using this in the Java Instrumentation project 😄, thx!

[2020-06-30 18:17] tigrannajaryan commented on #392
Collector can also benefit from this. We need an EC2 dedicated to running performance tests.

[2020-06-30 21:08] tigrannajaryan commented on #398
We are pretty heavily invested in CircleCI in the Collector. Unless someone volunteers to migrate all of it then moving to Github actions or anywhere else is going to be problematic.

[2020-07-01 14:42] CunjunWang opened #400 "REQUEST: New membership for CunjunWang"
### GitHub Username

@CunjunWang

### Organization you are requesting membership in

@open-telemetry

### Requirements

- [✅] I have reviewed the community membership guidelines (https://github.com/open-telemetry/community/blob/master/community-membership.md)
- [✅] I have enabled 2FA on my GitHub account. See https://github.com/settings/security
- [✅] I have subscribed to the [Gitter channel](http

[2020-07-01 15:51] lizthegrey opened #401 "Set security policies"
We should have a private security@opentelemetry.io alias, GPG key, and set up SECURITY.md for all our repos.

[2020-07-01 15:52] lizthegrey commented on #379
It's now been 3 weeks, I'm going to go ahead and globally change, unless people object.

[2020-07-01 16:08] lizthegrey commented on #379
@open-telemetry/admins I've updated all but the ones for which I have no access as a GC member.

[2020-07-01 16:34] yurishkuro commented on #379
open-telemetry/opentelemetry-operator doesn't show EasyCLA as a check

[2020-07-01 16:35] yurishkuro commented on #379
same with open-telemetry/opentelemetry-python-contrib - no checks

open-telemetry/opentelemetry-auto-instr-ruby has no files

[2020-07-01 16:35] lizthegrey commented on #379
A dummy PR needs to be opened to force EasyCLA checks to run then. I'll do that.

[2020-07-01 16:36] lizthegrey commented on #379
@open-telemetry/ruby-maintainers do you need the auto-instr repo? or can we delete it until we need it? p.s. the name is out of spec with the naming of other language auto-instr where the language comes first.

[2020-07-01 16:39] lizthegrey commented on #379
@yurishkuro dummy PRs opened against otel-operator and otel-python-contrib, it should show now.

[2020-07-01 16:56] lizthegrey opened #402 "Replace `master` with `main` branch name systematically"

[2020-07-01 17:06] yurishkuro commented on #379
thanks, Liz, I  enabled the checked in those two.

[2020-07-01 17:07] lizthegrey commented on #379
Great. I think we can declare this migration done. I've submitted a ticket to Linux Foundation support to ask them to disable the old CLA bot.

[2020-07-01 17:09] lizthegrey commented on #300
We use CNCF EasyCLA now. Marking this as moot.

[2020-07-01 17:09] #300 closed

[2020-07-01 17:11] lizthegrey commented on #361
Looks like this has already been seen by relevant folks; closing the issue here in this repo.

[2020-07-01 17:11] #361 closed

[2020-07-01 17:19] yurishkuro commented on #379
I deleted `open-telemetry/opentelemetry-auto-instr-ruby`. It was poorly set up anyway, without README or license.

[2020-07-01 18:48] bhs commented on #371
Related: https://github.com/open-telemetry/community/issues/402

[2020-07-01 19:28] shivkanya9146 commented on #387
I am still not the member of the community, could you please look into this.

[2020-07-01 19:31] mtwo commented on #387
@SergeyKanzhelev FYI

[2020-07-01 19:42] lizthegrey commented on #379
one last item, @yurishkuro: Heather from CNCF/LF says we need to:

[code]

[2020-07-01 19:53] bhs commented on #371
Last week, the Governance Committee (GC) discussed the idea of requiring vendors with GC seats to also hit some minimum requirements around the diversity of their OTel maintainer+approver staffing.

GC members raised a number of concerns: that GC members are _individuals_, not representatives of their respective employers; and further that "their employers" can change (e.g., Sergey and Bogdan both

[2020-07-01 19:58] lizthegrey commented on #371
We also should consider joining Linux Foundation's CommunityBridge program, but expressing a preference for financially sponsoring contributors from underestimated backgrounds.

[2020-07-01 20:27] yurishkuro commented on #379
Just to confirm, we want to remove this webhook:

![image](https://user-images.githubusercontent.com/3523016/86288273-a3383300-bbb7-11ea-951d-1014e3345567.png)

And I assume the EasyCLA will continue working because it's not integrated via webhook, but as a GitHub App:

![image](https://user-images.githubusercontent.com/3523016/86288341-bcd97a80-bbb7-11ea-8f97-7a951f3d9980.png)

[2020-07-01 20:39] lizthegrey commented on #379
that is correct, the github app is how we've integrated EasyCLA so the legacy webhook can be removed.

[2020-07-01 20:41] yurishkuro commented on #379
deleted webhook.

[2020-07-01 20:41] #379 closed

[2020-07-01 20:42] lizthegrey commented on #379
Opening a test PR to verify, but we can consider this closed.

[2020-07-01 21:28] SergeyKanzhelev commented on #400
@mtwo, @reyang please approve

[2020-07-01 21:30] mtwo commented on #400
I approve

[2020-07-01 21:30] SergeyKanzhelev commented on #387
resent invite

![image](https://user-images.githubusercontent.com/9950081/86293378-5c424180-bba7-11ea-90f4-dc855560d450.png)

[2020-07-01 21:30] #387 closed

[2020-07-01 21:32] reyang commented on #400
Same here, approve.

[2020-07-01 21:43] SergeyKanzhelev commented on #400
Welcome, @CunjunWang!

[2020-07-01 21:43] #400 closed

[2020-07-01 21:47] SergeyKanzhelev commented on #401
Do you have some links on best practices on how it will be used?

[2020-07-01 21:58] SergeyKanzhelev commented on #402
the only question here whether we want to go ahead now or wait for github to unify the names: https://twitter.com/natfriedman/status/1271253144442253312

[2020-07-01 22:17] connorlindsey opened #404 "REQUEST: New membership for connorlindsey"
### GitHub Username

@connorlindsey

### Organization you are requesting membership in

@open-telemetry

### Requirements

- [x] I have reviewed the community membership guidelines (https://github.com/open-telemetry/community/blob/master/community-membership.md)
- [x] I have enabled 2FA on my GitHub account. See https://github.com/settings/security
- [x] I have subscribed to the [Gitter channel](h

[2020-07-01 22:42] yurishkuro commented on #401
Not claiming it's a best practice, but just as a reference to what we did in Jaeger. Website footer contains a link to report security issues

![image](https://user-images.githubusercontent.com/3523016/86297951-9e30af00-bbca-11ea-8422-b39ff9335688.png)

which takes you to https://www.jaegertracing.io/report-security-issue/

[2020-07-02 00:54] mtwo commented on #404
I approve

[2020-07-02 03:07] jmacd commented on #404
I approve.

On Wed, Jul 1, 2020 at 5:55 PM Morgan McLean <notifications@github.com>
wrote:

[2020-07-02 12:27] MikeGoldsmith opened #405 "Update permissions for opentelemetry-dotnet-contrib"
We're trying to configure Github actions on the .NET contrib project but it seems both myself and @cijothomas do not have access to manage the repository as expected. Our permissions do not match those we have for opentelementry-dotnet.

Both myself (@MikeGoldsmith) and Cijo (@cijothomas) are members of the @open-telemetry/dotnet-maintainers

Please could we review the allocated permissions to mat

[2020-07-02 17:15] yurishkuro commented on #405
I changed permissions from Maintain to Admin, to match opentelemetry-dotnet.

[2020-07-02 17:21] cijothomas commented on #405
Thanks. Unblocked and running GH actions now.

[2020-07-02 17:24] #405 closed

[2020-07-02 19:31] lizthegrey commented on #401
That's correct, the goal is to enable people with critical security issues to responsibly disclose to us without going through public issue trackers, in order to allow us to remediate, push releases, and issue security advisories.

[2020-07-02 20:14] SergeyKanzhelev commented on #404
Welcome, @connorlindsey!

[2020-07-02 20:14] #404 closed

[2020-07-02 22:48] jmacd commented on #329
This is unfinished, and it's causing problems. We now have metrics approvers in the Spec repo, but not OTEPs. There are 5 OTEPs that should merge about metrics and I believe we have all the right approvers.

[2020-07-02 22:51] jmacd opened #406 "Make jmacd an OTEPs maintainer (need more OTEPs maintainers)"
See https://github.com/open-telemetry/community/issues/329

I would like to nominate myself as a new OTEPs maintainer since we have not finished the per-signal codeownership changes. I am not sure if the community rules allow this, so I'm filing an issue.

The OTEPs that should merge are
https://github.com/open-telemetry/oteps/pull/108
https://github.com/open-telemetry/oteps/pull/113
https://githu

[2020-07-06 17:54] lizthegrey commented on #398
I agree that CircleCI seems to be pretty broadly supported/common for Go projects, and thus that we as the Go developers would probably prefer to use Circle, and we've heard above that the Collector wants to remain on CircleCI as well...

[2020-07-07 12:11] carlosalberto commented on #399
Sounds good to me.

[2020-07-07 22:27] SergeyKanzhelev commented on #399
+1

[2020-07-07 22:28] SergeyKanzhelev commented on #399
@tigrannajaryan can you send PR?

[2020-07-07 23:34] tigrannajaryan commented on #399
@SergeyKanzhelev PR created: https://github.com/open-telemetry/community/issues/399

I think one of the admins must also add  @kumoroku and @zenmoto to @specs-logs-approvers user group.

[2020-07-08 17:04] #399 closed

[2020-07-09 05:22] huyan0 opened #408 "REQUEST: New membership for huyan0"
### GitHub Username

@huyan0

### Organization you are requesting membership in

@open-telemetry

### Requirements

- [x] have reviewed the community membership guidelines (https://github.com/open-telemetry/community/blob/master/community-membership.md)

- [x] I have enabled 2FA on my GitHub account. See https://github.com/settings/security
- [x] I have subscribed to the [Gitter channel](https://g

[2020-07-09 05:52] reyang commented on #408
I support @huyan0. Thanks!

[2020-07-09 06:09] jmacd commented on #408
I support @huyan0.

[2020-07-09 15:55] lizthegrey commented on #402
Based on the number of repos we'd need to update, I think we should probably wait for GitHub if that support is coming.

[2020-07-09 15:56] lizthegrey commented on #401
I'll bring this up at Governance this week, but it's probably more properly a matter for the TC.

[2020-07-09 17:05] SergeyKanzhelev commented on #408
Welcome, @huyan0!

[2020-07-09 17:05] #408 closed

[2020-07-09 17:15] cijothomas commented on #398
Updated list: .NET repo migrated from Azure pipelines to Github actions.

[2020-07-09 17:20] SergeyKanzhelev commented on #398
I'm closing this issue. Please re-open if there are more arguments on pushing for aligning CI tools

[2020-07-09 17:23] carlosalberto commented on #398
I feel like we need more discussion on this. Maybe not all projects will be able to migrate to GH actions, but some could? Maybe @trask still wants to go that way.

In any case, we should make it clear that we have a guidelines overall, and the conclusions from this ticket could help.

PS - @trask no worries, you won't be a mentor, we only needed your feedback 😃 (unless you have free cycles to men

[2020-07-09 17:24] rajkumar-rangaraj opened #409 "REQUEST: New membership for rajkumar-rangaraj"
### GitHub Username

@rajkumar-rangaraj

### Organization you are requesting membership in

@open-telemetry

### Requirements

- [X] I have reviewed the community membership guidelines (https://github.com/open-telemetry/community/blob/master/community-membership.md)
- [X] I have enabled 2FA on my GitHub account. See https://github.com/settings/security
- [X] I have subscribed to the [Gitter channe

[2020-07-09 17:26] SergeyKanzhelev commented on #398
what kind of conclusion do you feel would be useful beyond declaring that it's on maintainers discretion, but we recommend GitHub Actions.

BTW, as I mentioned in comment above, do we want to push for fully dockerized build definitions?

[2020-07-09 17:32] carlosalberto commented on #398
I think this would be a good thing, yes (in case we reach an agreement). In this case, we would get a little bit of uniformity (hopefully we will only be using GH Actions + CircleCI).

[2020-07-09 19:12] trask commented on #398
I started converting Java Instrumentation repo to Github Actions.

In Github Actions we need to parallelize across lots of jobs to get similar performance that we were getting from CircleCI, where we are both parallelizing across jobs and within jobs (by using larger hardware on paid plan).

But Github Actions has max 20 parallel builds across the whole org (we can bump that up with a paid plan).

[2020-07-09 19:14] SergeyKanzhelev commented on #409
Welcome, @rajkumar-rangaraj

[2020-07-09 19:14] #409 closed

[2020-07-09 20:44] CodeBlanch commented on #409
Welcome @rajkumar-rangaraj!

[2020-07-09 21:10] carlosalberto commented on #406
Sounds great to me.

[2020-07-10 04:59] iNikem commented on #392
@mtwo @alolita Any updates on this?

[2020-07-10 12:59] malafeev opened #410 "REQUEST: New membership for malafeev"
### GitHub Username

@malafeev

### Organization you are requesting membership in

@open-telemetry

### Requirements

- [x] I have reviewed the community membership guidelines (https://github.com/open-telemetry/community/blob/master/community-membership.md)
- [x] I have enabled 2FA on my GitHub account. See https://github.com/settings/security
- [x] I have subscribed to the [Gitter channel](https:

[2020-07-10 19:37] SergeyKanzhelev commented on #410
Welcome, @malafeev!

[2020-07-10 19:37] #410 closed

[2020-07-11 06:38] anuraaga commented on #392
Heard from @alolita that she is following up on this, tracking down the stakeholders on the Linux Foundation side. Hope to hear more soon, sorry it's taking so long.

[2020-07-11 13:42] caniszczyk commented on #392
you can always reach out via the https://github.com/cncf/servicedesk in
CNCF or ping Ihor on the CNCF Slack

On Sat, Jul 11, 2020 at 1:38 AM Anuraag Agrawal <notifications@github.com>
wrote:

--
Cheers,

Chris Aniszczyk
http://aniszczyk.org
+1 512 961 6719

[2020-07-12 04:27] trask commented on #392
Thanks @caniszczyk, that's a great resource to know about!

@iNikem, I just updated the members page in the community repo to add the Java Instrumentation project (#411), so we should be able to open Service Desk tickets for the project. Can you try to [create a Service Desk account](https://github.com/cncf/servicedesk#i-dont-have-a-servicedesk-account) and [file a ticket](https://github.com/cncf/

[2020-07-13 06:43] trask commented on #392
I heard back from Ihor that only OpenTelemetry governance committee members can file tickets with the CNCF Service Desk.

@iNikem can you check with @bogdandrutu or @ccaraman (since they are also at Splunk) to file a ticket? Or we can also ask for help in tomorrow's maintainers meeting from available governance committee members.

[2020-07-13 06:46] iNikem commented on #392
From timezone perspective maintainer meeting will probably happen around the same time I have a chance to ask Bogdan.

[2020-07-13 16:23] mtwo commented on #392
I'm filing a ticket on the service desk

[2020-07-13 16:37] mtwo commented on #392
Ticket filed (not sure if everyone can get access): https://cncfservicedesk.atlassian.net/servicedesk/customer/portal/1/CNCFSD-455

[2020-07-13 16:59] idvoretskyi commented on #392
cc @idvoretskyi

[2020-07-13 17:41] alolita commented on #392
Thanks for filing the ticket @mtwo Will follow up on our end.

[2020-07-13 21:20] justinfoote opened #412 "REQUEST: New membership for justinfoote"
### GitHub Username

@justinfoote

### Organization you are requesting membership in

@open-telemetry

### Requirements

- [x] I have reviewed the community membership guidelines (https://github.com/open-telemetry/community/blob/master/community-membership.md)
- [x] I have enabled 2FA on my GitHub account. See https://github.com/settings/security
- [x] I have subscribed to the [Gitter channel](htt

[2020-07-13 22:32] SergeyKanzhelev commented on #412
Welcome, @justinfoote!

[2020-07-13 22:32] #412 closed

[2020-07-14 02:59] ymotongpoo opened #413 "REQUEST: New membership for ymotongpoo"
### GitHub Username

@ymotongpoo

### Organization you are requesting membership in

@open-telemetry/opentelemetry-collector-contrib

### Requirements

- [X] I have reviewed the community membership guidelines (https://github.com/open-telemetry/community/blob/master/community-membership.md)
- [X] I have enabled 2FA on my GitHub account. See https://github.com/settings/security
- [X] I have subscri

[2020-07-14 03:43] SergeyKanzhelev commented on #413
Welcome, @ymotongpoo!

[2020-07-14 03:43] #413 closed

[2020-07-14 03:46] ymotongpoo commented on #413
Thank you, Sergey!!!

[2020-07-14 06:33] mtwo commented on #392
Chris pointed me to the existing [CNCF infrastructure lab](https://github.com/cncf/cluster), which runs on packet.net. Does this meet our needs?

[2020-07-14 08:06] iNikem commented on #392
Currently I think that using S3 as a service is much easier to us than having just hardware available and then spinning Gradle cache nodes on it. Cheaper as well.

Thus I still prefer having access to AWS account/credits.

[2020-07-14 09:04] idvoretskyi commented on #392
@iNikem can you please describe your AWS infrastructure needs with more details?

I'm a bit confused if you need the computing power (ec2), storage (s3) or both, or anything else.

Once it's done, @mtwo may submit the pricing estimate to the already opened ticket.

[2020-07-14 11:05] iNikem commented on #392
The immediate need of java instrumentation project is S3.

[2020-07-14 16:50] mtwo commented on #392
@tigrannajaryan @trask can you also describe your needs to @idvoretskyi ?

[2020-07-14 17:23] trask commented on #392
@iNikem and I have the same need (for the same SIG)

[2020-07-14 19:52] bogdandrutu commented on #406
The rule says that only TC members can be maintainers of oteps, so this request should be to make you a TC member which can be discussed in a TC meeting

[2020-07-14 19:54] bogdandrutu commented on #406
Also 119 is not ready because it does not have enough approvers.

[2020-07-14 19:58] bogdandrutu commented on #406
The only PR that is ready to be merged is open-telemetry/oteps#108 which has a comment at the end that more work is coming, so I think the problem is not the maintainers, but reviews.

<img width="912" alt="Screen Shot 2020-07-14 at 12 56 47 PM" src="https://user-images.githubusercontent.com/1373887/87470502-b690c880-c5d1-11ea-94b1-9e6dd50a4ae6.png">

[2020-07-14 23:23] pjanotti commented on #325
The .NET SIG agreed to move ahead with auto-instrumentations, details at 07/14 .NET SIG meeting notes and the roadmap for .NET Auto-Instrumentation:

- [.NET Meeting Notes](https://docs.google.com/document/d/1yjjD6aBcLxlRazYrawukDgrhZMObwHARJbB9glWdHj8/edit#)
- [.NET Auto-Instrumentation Roadmap](https://docs.google.com/document/d/1F25EzxYa7iSs2r9u0kjetCNPGS7Ui-bneHJEEwzEFR4/edit?usp=sharing)

cc

[2020-07-14 23:36] yurishkuro commented on #325
`auto-instr-dotnet` would not be a name that follows the patterns. I see that even for Java auto-instr is gone, it's all in `opentelemetry-java-instrumentation`

[2020-07-14 23:40] pjanotti commented on #325
`opentelemetry-dotnet-instrumentation` is good

[2020-07-15 00:05] erichsueh3 opened #414 "REQUEST: New membership for erichsueh3"
### GitHub Username

@erichsueh3

### Organization you are requesting membership in

@open-telemetry

### Requirements

- [X] I have reviewed the community membership guidelines (https://github.com/open-telemetry/community/blob/master/community-membership.md)
- [X] I have enabled 2FA on my GitHub account. See https://github.com/settings/security
- [X] I have subscribed to the [Gitter channel](http

[2020-07-15 00:58] yurishkuro commented on #325
https://github.com/open-telemetry/opentelemetry-dotnet-instrumentation

[2020-07-15 00:58] yurishkuro commented on #325
same permissions as otel-dotnet repo. Need to ensure EasyCLA runs for it, didn't for https://github.com/open-telemetry/opentelemetry-dotnet-instrumentation/pull/1

[2020-07-15 04:14] pjanotti commented on #325
Thanks @yurishkuro!

[2020-07-15 17:24] tigrannajaryan commented on #392
@idvoretskyi we need ec2's to run performance tests on. Two m5.large or m5.xlarge instances should be sufficient. Spot instances are likely OK too although it will complicate our build process if we want to make it resilient to elimination of instances.

[2020-07-15 17:25] idvoretskyi commented on #392
@tigrannajaryan great. So please estimate the total rough AWS budget using https://calculator.aws/ and @mtwo can submit the result via the ServiceDesk.

[2020-07-15 17:38] iNikem commented on #392
I have made a ballpark estimate for java instrumentation sig https://calculator.aws/#/estimate?id=330c7d304beb6f70d3d0ebda28930d0d53900ccc

The reality probably will be 2 times lower, but to be safe...

[2020-07-15 18:15] tigrannajaryan commented on #392
@idvoretskyi @mtwo here is the estimation for Collector: https://calculator.aws/#/estimate?id=ae46595a2f81be82d2bb051ae2b088f4fa3aed62
This is the top of the range estimation. We may be able to save cost by using spot instance or by only keeping the instances for the duration of the tests instead of continuously or by using reserved instances.

[2020-07-15 19:55] SergeyKanzhelev commented on #325
this seems to be done now

[2020-07-15 19:55] #325 closed

[2020-07-15 20:23] reyang commented on #414
"I have spoken to my sponsors ahead of this application, and they have agreed to sponsor my application" I don't recall that I've spoken with @erichsueh3 about this.

[2020-07-15 20:52] kbrockhoff opened #415 "REQUEST: New membership for @kbrockhoff"
### GitHub Username

- @kbrockhoff

### Organization you are requesting membership in

- @open-telemetry

### Requirements

- [*] I have reviewed the community membership guidelines (https://github.com/open-telemetry/community/blob/master/community-membership.md)
- [*] I have enabled 2FA on my GitHub account. See https://github.com/settings/security
- [*] I have subscribed to the [Gitter channel](

[2020-07-15 21:02] SergeyKanzhelev commented on #415
Welcome, @kbrockhoff!

[2020-07-15 21:02] #415 closed

[2020-07-15 21:40] erichsueh3 commented on #414
Hi @reyang, sorry for the confusion, I forgot to mention that I was working on the [prometheus exporter](https://github.com/open-telemetry/opentelemetry-cpp/issues/81) with @alolita and @CunjunWang; I've added that to the "Issues responded to" section.

[2020-07-15 22:05] reyang commented on #414
I support @erichsueh3 to be a member of the OpenTelemetry project.

[2020-07-16 00:08] cijothomas commented on #409
Doesn't look like @rajkumar-rangaraj is added to OpenTelemetry. @SergeyKanzhelev Can you check this ?

[2020-07-16 00:10] mtwo commented on #414
I support this

[2020-07-16 04:24] mtwo commented on #392
Perfect, thanks! I’ll submit this on the service desk ticket tomorrow

________________________________
From: Tigran Najaryan <notifications@github.com>
Sent: Wednesday, July 15, 2020 11:15:38 AM
To: open-telemetry/community <community@noreply.github.com>
Cc: Morgan McLean <morgan_mclean@hotmail.com>; Mention <mention@noreply.github.com>
Subject: Re: [open-telemetry/community] Access to CNCF AWS a

[2020-07-16 15:14] eddynaka opened #416 "New membership for eddynaka"
### GitHub Username

@eddynaka

### Organization you are requesting membership in

@open-telemetry

### Requirements

- [x] I have reviewed the community membership guidelines (https://github.com/open-telemetry/community/blob/master/community-membership.md)
- [x] I have enabled 2FA on my GitHub account. See https://github.com/settings/security
- [x] I have subscribed to the [Gitter channel](https:

[2020-07-16 19:11] SergeyKanzhelev commented on #416
Welcome. @eddynaka!

[2020-07-16 19:11] #416 closed

[2020-07-16 19:12] SergeyKanzhelev commented on #414
Welcome, @erichsueh3!

[2020-07-16 19:12] #414 closed

[2020-07-16 19:13] SergeyKanzhelev commented on #409
Invite is pending. @rajkumar-rangaraj make sure to accept invite
![image](https://user-images.githubusercontent.com/9950081/87712545-b0c7ee00-c75d-11ea-88fe-c89a892ee8d8.png)

[2020-07-16 19:16] rajkumar-rangaraj commented on #409
@SergeyKanzhelev , I missed an earlier invitation. The link has expired, could you please resend the link? Thanks!

[2020-07-16 20:30] SergeyKanzhelev commented on #409
try now

[2020-07-16 20:32] rajkumar-rangaraj commented on #409
It worked. Thank you!

[2020-07-16 23:11] alanwest opened #417 "REQUEST: New membership for alanwest"
### GitHub Username

@alanwest

### Organization you are requesting membership in

@open-telemetry

### Requirements

- [X] I have reviewed the community membership guidelines (https://github.com/open-telemetry/community/blob/master/community-membership.md)
- [X] I have enabled 2FA on my GitHub account. See https://github.com/settings/security
- [X] I have subscribed to the [Gitter channel](https:

[2020-07-16 23:13] danielbang907 opened #418 "REQUEST: New membership for danielbang907"
### GitHub Username

@danielbang907

### Organization you are requesting membership in

@open-telemetry

### Requirements

- [X] I have reviewed the community membership guidelines (https://github.com/open-telemetry/community/blob/master/community-membership.md)
- [X] I have enabled 2FA on my GitHub account. See https://github.com/settings/security
- [X] I have subscribed to the [Gitter channel](h

[2020-07-16 23:56] mtwo commented on #418
Approved, thanks for reaching out to me @danielbang907

[2020-07-17 00:16] reyang commented on #418
I'm supportive, too!

[2020-07-17 07:07] SergeyKanzhelev commented on #417
Welcome, @alanwest!

[2020-07-17 07:07] #417 closed

[2020-07-17 07:08] SergeyKanzhelev commented on #418
Welcome, @danielbang907!

[2020-07-17 07:08] #418 closed

[2020-07-17 17:49] EdZou opened #419 "REQUEST: New membership for EdZou"
## GitHub Username

@EdZou
## Organization you are requesting membership in

@open-telemetry
## Requirements

   [✅] I have reviewed the community membership guidelines (https://github.com/open-telemetry/community/blob/master/community-membership.md)
   [✅] I have enabled 2FA on my GitHub account. See https://github.com/settings/security
   [✅] I have subscribed to the Gitter channel
   [✅] I am a

[2020-07-17 21:00] mtwo commented on #392
Ticket has been updated with Nikita and Tigran's estimates

[2020-07-17 23:21] davidwitten opened #420 "REQUEST: New membership for davidwitten"
### GitHub Username

@davidwitten

### Organization you are requesting membership in

@open-telemetry

### Requirements

- [x] I have reviewed the community membership guidelines (https://github.com/open-telemetry/community/blob/master/community-membership.md)
- [X] I have enabled 2FA on my GitHub account. See https://github.com/settings/security
- [X] I have subscribed to the [Gitter channel](htt

[2020-07-17 23:42] obecny commented on #420
+1

[2020-07-17 23:57] SergeyKanzhelev commented on #420
Welcome, @davidwitten!

[2020-07-17 23:57] #420 closed

[2020-07-19 15:30] #350 closed

[2020-07-20 16:48] alolita commented on #419
@mtwo @jmacd - can you please approve @EdZou for membership? :-)

[2020-07-20 16:54] mtwo commented on #419
I approve

[2020-07-20 18:31] jmacd commented on #419
I approve!

[2020-07-20 19:32] SergeyKanzhelev commented on #419
Welcome, @EdZou!

[2020-07-20 23:18] trask opened #421 "Create open-telemetry/java-instrumentation-triagers"
We want to [add our first triager](https://github.com/open-telemetry/opentelemetry-java-instrumentation/pull/741), and so I think we need the `open-telemetry/java-instrumentation-triagers` group created.

Thanks! (and thanks for creating this new role!)

[2020-07-20 23:50] SergeyKanzhelev commented on #421
All done. all java instrumentation maintainers has permissions to add/remove members for both teams - approvers and triagers

[2020-07-20 23:50] #421 closed

[2020-07-21 18:05] lizthegrey commented on #406
Agree, this is a TC decision (and also involves necessarily membership in the TC)

[2020-07-22 15:35] jchengsfx opened #422 "REQUEST: New membership for jchengsfx"
### GitHub Username

@jchengsfx

### Organization you are requesting membership in

@open-telemetry

### Requirements

- [X] I have reviewed the community membership guidelines (https://github.com/open-telemetry/community/blob/master/community-membership.md)
- [X] I have enabled 2FA on my GitHub account. See https://github.com/settings/security
- [X] I have subscribed to the [Gitter channel](https

[2020-07-22 15:39] tigrannajaryan commented on #422
I support.

[2020-07-22 18:05] mtwo commented on #392
Update on the ticket from Ihor: they are setting this up and we should hear back in one to two weeks

[2020-07-22 20:19] SergeyKanzhelev commented on #422
Welcome, @jchengsfx!

[2020-07-22 20:19] #422 closed

[2020-07-23 07:04] jpkrohling opened #424 "REQUEST: New membership for jpkrohling"
### GitHub Username

@jpkrohling

### Organization you are requesting membership in

e.g. @open-telemetry

### Requirements

- [x] I have reviewed the community membership guidelines (https://github.com/open-telemetry/community/blob/master/community-membership.md)
- [x] I have enabled 2FA on my GitHub account. See https://github.com/settings/security
- [x] I have subscribed to the [Gitter channel]

[2020-07-23 21:57] SergeyKanzhelev commented on #424
Welcome, @jpkrohling!

[2020-07-23 21:57] #424 closed

[2020-07-24 00:25] #419 closed

[2020-07-24 00:26] #397 closed

[2020-07-24 00:27] #329 closed

[2020-07-24 16:08] lizthegrey opened #427 "Proposal: Education SIG"
There's an increasing number of people working on not just docs, but also example code, workshop code, demos, etc. -- so I'd like to propose that we have a regular weekly meeting time, set of repos, etc. in the open-telemetry organization (and also therefore have the programmatic capability to enforce the CLA on any shared example code we produce)

[2020-07-24 16:41] SergeyKanzhelev commented on #427
would it be the same set of people who is currently on website SIG? Also, I like the name education, so maybe rename it to increase scope?

[2020-07-24 16:54] SergeyKanzhelev commented on #238
@ccaraman I will be writing some instructions as I need to help make a blog post. So assigned to myself. Let me know if you want to take it back.

[2020-07-26 19:20] amitmahbubani commented on #169
Just wanted to point out that the videos being uploaded on the [YouTube channel](https://www.youtube.com/channel/UCHZDBZTIfdy94xMjMKz-_MA) have unfriendly (meeting-date-only) titles since over a month now.

<img alt="opentelemetry youtube videos screenshot" src="https://user-images.githubusercontent.com/5546730/88487410-73a3fd00-cfa2-11ea-9add-a448075e8087.png" width="500">

[2020-07-26 19:44] SergeyKanzhelev commented on #169
yeah, with the setup we have it's a bit of a manual labor to make proper titles. There is a request to Splain to include the recording timeframe, so at least some automation may be created. Also there is a percentage of recordings being lost due to some timeout issue between Zoom and Youtube by Splain. For now, c-span of OpenTelemetry is the best we managed to come up with. We are open for ideas.

[2020-07-27 11:13] MikeGoldsmith commented on #169
Are we able to rename files that have been published? If not, I think we should go back to pending publish and create weekly task for each maintainer group go and update the video title & publish.

The current format of just having a meeting time isn't great and does not help people find these recordings. If anything, it harms the legitimacy of what we're trying to by doing it in a bad way. We cer

[2020-07-27 16:08] alolita commented on #238
Hi @SergeyKanzhelev @mtwo - it would be great to have these guidelines for publishing on the project blog :-) The interns on my team will be publishing about their project contributions and Morgan had mentioned this would be discussed in the governance meeting. I'd be happy to help draft review guidelines if that helps the process.

[2020-07-27 18:11] SergeyKanzhelev commented on #169
Yes, easy to change the title. @andrewhsu helped before by commenting:

![image](https://user-images.githubusercontent.com/9950081/88575341-93fea680-cff8-11ea-9465-498c7358b601.png)

I believe this is how it works generally in k8s. I'm noticing that maintainers are not quite responsible all the time and videos got published with the huge delay in a batch. I have also asked couple times different s

[2020-07-27 19:02] MikeGoldsmith commented on #402
I've recently been involved in doing this, and it only takes a few minutes per repo. It took my ~30 minutes to do it for 5 repos.

Steps:
1) create new `main` branch from `master`
2) update open PRs to point to `main` (can be done by editing the PR and selecting target branch)
3) update branch protection rule pattern to target `main`
4) remove `master` branch

The time consuming part is 2), depend

[2020-07-28 16:00] alolita opened #429 "Upgrade OpenTelemetry GitHub organization account to support more GitHub Actions"
Hi OT Project Maintainers, Governance group,

Our team - including our AWS interns have been building out the CI/CD workflows for build, test and publish artifacts using GitHub Actions workflows across several repos in OpenTelemetry. We've implemented these CI/CD workflows in C++, Ruby and other language specific repos. This has made it easier for developers to easily build and test their PRs with

[2020-07-28 16:09] reyang commented on #429
On the [7/27/2020 maintainers meeting](https://docs.google.com/document/d/1-tGqaT9fn9Bpuy4roLS1YDfLzIWHodUFfyrBlyJVz9g/edit#heading=h.2ajso5m3t2ad) I asked about this. Based on what I heard (please refer to the meeting notes), it seems that @SarahNovotny is helping us to increase the limit from 20 concurrent jobs to 60 and we should be able to get it this week.

[2020-07-28 16:36] alolita commented on #429
Thanks! @reyang @sarahnovotny This is great news!

[2020-07-30 06:47] mtwo commented on #238
My suggestions:

- Posts should be reviewable for at least 48 hours before they go live
- The approval of a single blog approver is sufficient for posts that are minor updates (status reports, community / SIG updates, though they still need to be reviewable for 48 hours
- Substantive project announcements must be posted to cncf-opentelemetry-comms@lists.cncf.io (which is an open mailing list) and

[2020-07-30 19:05] idvoretskyi commented on #398
We had a brief chat with @trask regarding the CI tools for OpenTelemetry, and I would definitely suggest migrating to the GitHub Actions.

CNCF has already established agreements and generous plans with Azure Pipelines and GitHub Actions, and we already have a good experience of other CNCF project migration to these solutions.

Eg, this is not an issue with the GHA offering for CNCF.

[2020-07-31 01:18] alolita commented on #398
Great to hear that the GHA limitations don't apply to the OT account. @Brandon-Kimberly can you post an update on the coverage we've completed for various repos :-)

[2020-07-31 01:25] Brandon-Kimberly commented on #398
This is the current landscape of CI/CD in OpenTelemetry:

|Repository	|CI/CD Provider	|Using GitHub Actions as primary CI?	|Migrated In Last 6 Weeks?	|
|---	|---	|---	|---	|
|Collector	|CircleCI	|❌	|	|
|Python	|CircleCI/GHA	|❌	|	|
|JS	|CircleCI/GHA	|❌	|	|
|C++	|GHA	|✅	|✅	|
|.NET	|Azure/GHA	|✅	|✅	|
|Go	|CircleCI	|❌	|	|
|PHP	|GHA	|✅	|✅	|
|Java	|CircleCI	|❌	|	|
|Rust	|GHA	|✅	|✅	|
|Swift	|GHA/Scope	|✅

[2020-07-31 01:50] trask commented on #398
Hey @Brandon-Kimberly, can you add the Java Instrumentation repo to your table (not that it's green, but so we track it)? thx!

[2020-07-31 02:05] cijothomas commented on #398
What would be the actual actual limit to max parallel builds? is it 60? or unlimited?

[2020-07-31 08:18] SergeyKanzhelev commented on #398
Right now we are on the Team subscription with the limit of 60 concurrent jobs. We received it by asking GitHub directly. @idvoretskyi if there is an agreement between CNCF and GitHub that enables bigger limit - we will definitely benefit from it as there are simply too many active groups working on different language SDKs and other components.

[2020-07-31 09:46] idvoretskyi commented on #398
@SergeyKanzhelev Should not be an issue from the billing standpoint, but let me double-check if there are any technical limitations on the GHA side.

[2020-08-01 00:40] XSAM opened #432 "REQUEST: New membership for XSAM"
### GitHub Username

@XSAM

### Organization you are requesting membership in

@open-telemetry

### Requirements

- [x] I have reviewed the community membership guidelines (https://github.com/open-telemetry/community/blob/master/community-membership.md)
- [x] I have enabled 2FA on my GitHub account. See https://github.com/settings/security
- [x] I have subscribed to the [Gitter channel](https://gi

[2020-08-01 16:29] Aneurysm9 commented on #432
I'm @aneurysm9 and I approve this membership.

[2020-08-01 21:54] dengliming opened #433 "REQUEST: New membership for dengliming"
### GitHub Username

@dengliming

### Organization you are requesting membership in

@open-telemetry

### Requirements

- [✅] I have reviewed the community membership guidelines (https://github.com/open-telemetry/community/blob/master/community-membership.md)
- [✅] I have enabled 2FA on my GitHub account. See https://github.com/settings/security
- [✅] I have subscribed to the [Gitter channel](http

[2020-08-02 20:55] SergeyKanzhelev commented on #433
Welcome, @dengliming!

[2020-08-02 20:55] #433 closed

[2020-08-02 20:56] SergeyKanzhelev commented on #432
Welcome, @XSAM!

[2020-08-02 20:56] #432 closed

[2020-08-04 03:45] trask commented on #392
@mtwo @idvoretskyi it hasn't been quite two weeks yet, but just checking in case any update, thx!

[2020-08-04 08:01] ymotongpoo opened #434 "Create a repository for GPU metrics extractor"
Currently OpenTelemetry Collector does not support GPU related metrics and the issue and PR were made (https://github.com/open-telemetry/opentelemetry-collector-contrib/issues/392), https://github.com/open-telemetry/opentelemetry-collector-contrib/pull/393) in opentelemetry-collector-contrib for it.

However, because of the mandatory dependency to CGO, contrib Collector can't afford the PR and the

[2020-08-04 14:50] idvoretskyi commented on #392
@trask nothing yet, unfortunately :(

[2020-08-05 13:30] rmfitzpatrick opened #435 "REQUEST: New membership for rmfitzpatrick"
### GitHub Username

rmfitzpatrick

### Organization you are requesting membership in

@open-telemetry

### Requirements

- [x] I have reviewed the community membership guidelines (https://github.com/open-telemetry/community/blob/master/community-membership.md)
- [x] I have enabled 2FA on my GitHub account. See https://github.com/settings/security
- [x] I have subscribed to the [Gitter channel](ht

[2020-08-05 17:25] tigrannajaryan commented on #435
I support.

[2020-08-05 17:52] SergeyKanzhelev commented on #435
Welcome, @rmfitzpatrick!

[2020-08-05 17:52] #435 closed

[2020-08-05 22:39] ercl opened #436 "REQUEST: New membership for ercl"
### GitHub Username
@ercl

### Organization you are requesting membership in

@open-telemetry

### Requirements

- [x] I have reviewed the community membership guidelines (https://github.com/open-telemetry/community/blob/master/community-membership.md)
- [x] I have enabled 2FA on my GitHub account. See https://github.com/settings/security
- [x] I have subscribed to the [Gitter channel](https://git

[2020-08-05 22:47] bogdandrutu commented on #429
@sarahnovotny any update?

[2020-08-05 23:17] trask commented on #429
@idvoretskyi (CNCF) and @SergeyKanzhelev are coordinating a meeting with the GitHub team to find out our options, hoping for good news soon 🤞

[2020-08-06 00:07] reyang commented on #436
Welcome @ercl! 👍

[2020-08-06 04:57] SergeyKanzhelev commented on #436
Welcome, @ercl!

[2020-08-06 04:57] #436 closed

[2020-08-06 06:14] SergeyKanzhelev commented on #330
perhaps the next quarter.

[2020-08-06 06:14] #330 closed

[2020-08-07 18:15] macrogreg opened #437 "REQUEST: New membership for macrogreg"
### GitHub Username

@macrogreg

### Organization you are requesting membership in

open-telemetry

### Requirements

- [YES ] I have reviewed the community membership guidelines (https://github.com/open-telemetry/community/blob/master/community-membership.md)
- [YES ] I have enabled 2FA on my GitHub account. See https://github.com/settings/security
- [YES] I have subscribed to the [Gitter channel

[2020-08-07 18:56] cijothomas commented on #437
Approve.

[2020-08-08 02:03] bogdandrutu commented on #437
Invite sent

[2020-08-08 02:03] #437 closed

[2020-08-08 02:13] macrogreg commented on #437
Thank you, all!

[2020-08-09 04:33] dengliming opened #438 "Request to participate in docs-cn maintenance"
@SergeyKanzhelev
I am a developer from China. very happy to be a member of opentelemetry. I am very willing to participate in maintenance, and look forward to attracting more Chinese community partners. thanks.

[2020-08-10 13:52] lucaspimentel opened #439 "REQUEST: New membership for @lucaspimentel"
### GitHub Username

@lucaspimentel

### Organization you are requesting membership in

@open-telemetry

### Requirements

- [x] I have reviewed the [community membership guidelines](https://github.com/open-telemetry/community/blob/master/community-membership.md).
- [x] I have enabled 2FA on my GitHub account.
- [x] I have subscribed to the [Gitter channel](https://gitter.im/open-telemetry/communi

[2020-08-10 16:51] nrcventura opened #440 "REQUEST: New membership for nrcventura"
### GitHub Username

@nrcventura

### Organization you are requesting membership in

@open-telemetry

### Requirements

- [x] I have reviewed the community membership guidelines (https://github.com/open-telemetry/community/blob/master/community-membership.md)
- [x] I have enabled 2FA on my GitHub account. See https://github.com/settings/security
- [x] I have subscribed to the [Gitter channel](http

[2020-08-10 17:11] macrogreg commented on #439
Approve.

[2020-08-10 20:44] SergeyKanzhelev commented on #169
This is how the process looks like today:

1. Splain published meetings to YouTube as private.
2. Open [YouTube studio](https://studio.youtube.com/channel/UCHZDBZTIfdy94xMjMKz-_MA/videos/upload?filter=%5B%7B%22name%22%3A%22VISIBILITY%22%2C%22value%22%3A%5B%22PRIVATE%22%5D%7D%5D&sort=%7B%22columnType%22%3A%22date%22%2C%22sortOrder%22%3A%22DESCENDING%22%7D) and filter videos by Visibility: private.

[2020-08-10 21:05] eddynaka commented on #169
Hi @SergeyKanzhelev , i would like to help!

[2020-08-10 21:13] SergeyKanzhelev commented on #169
@eddynaka, I will make you an editor. Would you like to clean up the current backlog as a starting point?

[2020-08-10 21:15] eddynaka commented on #169
sure!

[2020-08-10 21:39] macrogreg commented on #440
Approve.

[2020-08-10 22:45] eddynaka commented on #169
Hi all, just updated all videos to the format specified. Created some playlists based on the language to facilitate. Still have a lot of videos that is just with meeting title (still didn't have time to update all)

[2020-08-10 23:04] SergeyKanzhelev commented on #169
This is impressive how many videos you identified. It's a lot of work.

Ping me when you are ready to discuss the automation.

[2020-08-10 23:06] SergeyKanzhelev commented on #440
Welcome, @nrcventura!

[2020-08-10 23:06] #440 closed

[2020-08-10 23:07] SergeyKanzhelev commented on #439
Welcome, @lucaspimentel!

[2020-08-10 23:07] #439 closed

[2020-08-11 00:06] trask commented on #429
got confirmation from @SergeyKanzhelev that the OpenTelemetry org is on GitHub "Team" subscription with 60 concurrent jobs 👍

[2020-08-11 11:03] eddynaka commented on #169
Hi all, do we have a calendar with all meetings? We have a lot of videos that I couldn't distinguish what SIG was that.

Thank you.

[2020-08-11 13:04] austinlparker commented on #169
@eddynaka All of the public meetings are on this calendar - https://calendar.google.com/calendar?cid=Z29vZ2xlLmNvbV9iNzllM2U5MGo3YmJzYTJuMnA1YW41bGY2MEBncm91cC5jYWxlbmRhci5nb29nbGUuY29t

[2020-08-11 13:17] eddynaka commented on #169
Probably a tough question: do we have a list of participants/maintainers, for example:
- .NET SIG: cijo, reiley, me, others
- Java SIG: a, b and c.

[2020-08-11 13:19] austinlparker commented on #169
Each SIG maintains a list of approvers/maintainers on their respective repo's READMEs. The codeowners file is also accurate for approvers/maintainers.

[2020-08-12 01:59] TommyCpp opened #443 "REQUEST: New membership for tommycpp"
### GitHub Username

@TommyCpp

### Organization you are requesting membership in

@open-telemetry

### Requirements

- [x] I have reviewed the community membership guidelines (https://github.com/open-telemetry/community/blob/master/community-membership.md)
- [x] I have enabled 2FA on my GitHub account. See https://github.com/settings/security
- [x] I have subscribed to the [Gitter channel](https:

[2020-08-12 02:13] jtescher commented on #443
👍 welcome @TommyCpp

[2020-08-12 03:27] SergeyKanzhelev commented on #443
Welcome, @TommyCpp!

[2020-08-12 03:27] #443 closed

[2020-08-12 03:37] SergeyKanzhelev commented on #438
@dengliming sorry for the delay. Welcome to OpenTelemetry! I see you already participate in a few repositories. There is a [docs-cn](https://github.com/open-telemetry/docs-cn) repo specifically for Chinese docs if you want to participate there.

CC: @open-telemetry/docs-cn-approvers  to welcome @dengliming and coordinate contributions.

If you are looking for being a member of CN docs  approvers,

[2020-08-12 03:37] #438 closed

[2020-08-12 09:11] tonyredondo opened #444 "REQUEST: New membership for @tonyredondo"
### GitHub Username

@tonyredondo

### Organization you are requesting membership in

@open-telemetry

### Requirements

- [x] I have reviewed the community membership guidelines (https://github.com/open-telemetry/community/blob/master/community-membership.md)
- [x] I have enabled 2FA on my GitHub account. See https://github.com/settings/security
- [x] I have subscribed to the [Gitter channel](htt

[2020-08-12 12:04] colin-higgins opened #445 "REQUEST: New membership for @colin-higgins"
### GitHub Username
@colin-higgins

### Organization you are requesting membership in
@open-telemetry

### Requirements
* [x]  I have reviewed the community membership guidelines (https://github.com/open-telemetry/community/blob/master/community-membership.md)
* [x]  I have enabled 2FA on my GitHub account. See https://github.com/settings/security
* [x]  I have subscribed to the [Gitter channel](h

[2020-08-12 13:01] kevingosse opened #446 "REQUEST: New membership for @kevingosse"
### GitHub Username

@kevingosse

### Organization you are requesting membership in

@open-telemetry

### Requirements

- [x] I have reviewed the community membership guidelines (https://github.com/open-telemetry/community/blob/master/community-membership.md)
- [x] I have enabled 2FA on my GitHub account. See https://github.com/settings/security
- [x] I have subscribed to the [Gitter channel](http

[2020-08-12 13:35] lucaspimentel commented on #444
Approve

[2020-08-12 13:35] lucaspimentel commented on #445
Approve

[2020-08-12 13:35] lucaspimentel commented on #446
Approve

[2020-08-12 15:47] zacharycmontoya opened #447 "REQUEST: New membership for @zacharycmontoya"
### GitHub Username

@zacharycmontoya

### Organization you are requesting membership in

@open-telemetry

### Requirements

- [x] I have reviewed the community membership guidelines (https://github.com/open-telemetry/community/blob/master/community-membership.md)
- [x] I have enabled 2FA on my GitHub account. See https://github.com/settings/security
- [x] I have subscribed to the [Gitter channel]

[2020-08-12 15:48] lucaspimentel commented on #447
Approve

[2020-08-12 17:02] SergeyKanzhelev commented on #447
Welcome, @zacharycmontoya!

[2020-08-12 17:02] #447 closed

[2020-08-12 17:03] SergeyKanzhelev commented on #446
Welcome, @kevingosse!

[2020-08-12 17:03] #446 closed

[2020-08-12 17:03] SergeyKanzhelev commented on #445
Welcome, @colin-higgins!

[2020-08-12 17:03] #445 closed

[2020-08-12 17:04] SergeyKanzhelev commented on #444
Welcome, @tonyredondo!

[2020-08-12 17:04] #444 closed

[2020-08-13 01:59] jtescher commented on #443
@SergeyKanzhelev can we get @TommyCpp added to @open-telemetry/rust-approvers? I do not have the permission to add.

[2020-08-13 18:48] bogdandrutu commented on #434
I think the collector receiver can live in contrib, just avoid shipping it in the contrib binary because of the cgo problem. This is what I personally think

[2020-08-13 18:49] bogdandrutu commented on #429
Will close this since it is resolved

[2020-08-13 18:49] #429 closed

[2020-08-13 18:51] bogdandrutu commented on #398
All the go repos have automatically docs because of godoc

[2020-08-13 19:06] rmfitzpatrick opened #449 "Location requested for standalone opentelemetry-java sdk using library"
Splunk would like to contribute JMX-based metric scrapers using a generic utility that reaches remote applications.  Given this is not in line with the current sdk scope or follow the local jvm auto-instrumentation practices of the otel java agent, the java-instrumentation SIG has suggested this tool should potentially go in a new opentelemetry-java-tools project or in an expanded/repurposed build

[2020-08-13 19:15] keitwb commented on #449
What about just treating the collector-contrib repo as a monorepo for this kind of stuff?

[2020-08-13 20:08] tigrannajaryan commented on #434
This is a good middle-ground. Put the source code in the contrib repo but build a separate binary from it.

[2020-08-13 20:27] bogdandrutu commented on #449
The problem is the mix of languages, this would be better fit to be maintained by some Java experts I think.

[2020-08-13 20:39] trask commented on #449
The problem is that this out-of-proc JMX metric scraping tool doesn't really fit into the scope of either of the current Java repos.

How about a new repo `opentelemetry-java-tools`, with @rmfitzpatrick as initial maintainer?

[2020-08-13 22:11] SergeyKanzhelev commented on #443
Fixed permissions for you and added @TommyCpp.

[2020-08-14 00:08] ymotongpoo commented on #434
@bogdandrutu @tigrannajaryan Thank you for the suggestion. Then, I'll be back to the controller-contrib repo and create another PR to create isolated directory or something for it.

[2020-08-14 03:09] trask commented on #449
Or maybe `opentelemetry-java-contrib`?

[2020-08-14 03:39] SergeyKanzhelev commented on #449
@open-telemetry/java-maintainers @open-telemetry/java-instrumentation-maintainers either of these two groups want to be declared a maintainers for this new contrib repository? Or this will be a separate set of people?

[2020-08-14 03:57] anuraaga commented on #449
Makes sense to me to share with @open-telemetry/java-instrumentation-maintainers, I think the scope is similar enough to the java instrumentation repo for people to be familiar working in both.

[2020-08-14 04:04] iNikem commented on #449
We want to have @rmfitzpatrick as maintainer of that tool, I think. But not necessarily of neither main java nor instrumentation repo. Not yet at least :)

[2020-08-14 04:27] trask commented on #449
Yes. There may be overlap of individuals, but we would prefer that it not reuse either of the existing groups.

[2020-08-14 04:37] SergeyKanzhelev commented on #449
Presumably contrib will have more than JMX reader. @rmfitzpatrick are you OK to maintain the repository? @trask, @iNikem have you discussed it with Ryan?

[2020-08-14 04:48] trask commented on #449
We discussed a couple of options with @rmfitzpatrick this morning in Java Instrumentation SIG meeting, and recommended that he open this issue. You can add me as an approver in the new repo. @anuraaga, @iNikem let us know if you would like to be approver/maintainer/abstain in the new repo.

[2020-08-14 04:49] iNikem commented on #449
Would abstain for now. If I have free cycle I rather spend them in the main java repo.

[2020-08-14 04:50] anuraaga commented on #449
Can join as approver too

[2020-08-14 05:26] SergeyKanzhelev commented on #449
Once we have volunteers to maintain, happy to create a repository.

[2020-08-14 05:28] trask commented on #449
How many maintainers are required?

[2020-08-14 05:29] SergeyKanzhelev commented on #449
we don't have any at the moment

[2020-08-14 05:31] trask commented on #449
i mean, if @rmfitzpatrick volunteers, do we still need to find additional maintainers? will help to know if i need to reach out to people to try to find a second maintainer

[2020-08-14 05:35] SergeyKanzhelev commented on #449
I'd really love to get him commenting here =) Based on the text - it is a request for location, not the request to be a maintainer for bigger scope of contrib repo. Just want to make sure there actually will be somebody owning it.

[2020-08-14 05:37] trask commented on #449
yup for sure, there's no rush 😄

[2020-08-14 14:14] rmfitzpatrick commented on #449
I would be happy to be a maintainer for the contrib project and appreciate @trask and @anuraaga stepping in to help out.

@pmcollins has also agreed to be an approver.

[2020-08-14 15:36] iNikem commented on #392
@idvoretskyi @mtwo gentle ping about news

[2020-08-14 15:38] idvoretskyi commented on #392
@iNikem still pending, but should be resolved soon. I'll keep Trask updated on the ServiceDesk ticket.

[2020-08-14 19:39] tigrannajaryan commented on #434
Anyone who has a permission: please close this issue since a new repo is no longer needed.

[2020-08-14 21:20] #434 closed

[2020-08-16 06:18] SergeyKanzhelev commented on #402
https://github.com/github/renaming

It looks we can simply wait for a little and the migration will be automated by GitHub.

[2020-08-16 06:18] SergeyKanzhelev commented on #402
Renamed the issue to indicate the name that GitHub will be using as a default

[2020-08-17 11:22] MikeGoldsmith commented on #169
There are also GitHub teams for both approvers & maintainers: https://github.com/orgs/open-telemetry/teams?query=maintainer

[2020-08-17 16:46] SergeyKanzhelev opened #451 "Suggestion: Youtube uploader tool - add the room name to the meeting title"
Room can be extrapolated from the Splain's auto-generated name. See screenshot - there are different names there:

  ![image](https://user-images.githubusercontent.com/9950081/89829168-fbdfe180-db0e-11ea-8e00-5c33a8ee96b6.png)

There are only [three meeting rooms](https://github.com/open-telemetry/community/blob/master/docs/how-to-handle-public-calendar.md) we are using and the name of the meeting

[2020-08-17 22:04] SergeyKanzhelev commented on #449
Repo and teams are created. @rmfitzpatrick, you should have enough permissions in the teams and repo to set up everything else. Some information: https://github.com/open-telemetry/community/blob/master/docs/how-to-configure-new-repository.md

[2020-08-17 22:04] #449 closed

[2020-08-17 22:04] SergeyKanzhelev opened #452 "Document how to enable EasyCLA"
@lizthegrey can you please update docs on how to enable easyCLA for the new repos: https://github.com/open-telemetry/community/blob/master/docs/how-to-configure-new-repository.md

[2020-08-18 09:10] eddynaka opened #453 "Missing youtube video"
Hi all,

Some people are missing some videos, for example, last Thursday we had a Java Instrumentation SIG.

Searched using the following patterns:
- 2020-08-13 meeting
- 2020-08-13 Java Auto-Instrumentation SIG
- 2020-08-13 Java SIG

cc: @SergeyKanzhelev

[2020-08-18 13:43] austinlparker commented on #427
Not to overload the term, but what about 'Community SIG'? Responsibilities would include website, docs, example code, demos, and other cross-cutting community resources.

[2020-08-18 17:16] SergeyKanzhelev commented on #453
Can you please specify for each meeting:

- exact datetime with timezone
- meeting room
- duration (as you remember it)

This will simplify search thru zoom recordings.

[2020-08-18 17:21] eddynaka commented on #453
Information:
- meeting: OpenTelemetry Java Instrumentation SIG
- datetime: Thu, August 13, 9am – 10am
- meeting room: https://zoom.us/j/8203130519
- duration: don't know

[2020-08-18 17:23] SergeyKanzhelev commented on #427
Perhaps Comms SIG? Also education is very good. I feel like the governance committee is somehow already a Community SIG =) But it's not a strong objection, I really like where it's going.

BTW, @austinlparker do you believe this would be the same people? Just confirming my initial reaction on this proposal

[2020-08-18 17:31] SergeyKanzhelev commented on #453
Found this. Is it the right meeting?

Topic: Open Telemetry Meeting 1's Personal Meeting Room
Date: Aug 13, 2020 07:59 PM Central Time (US and Canada)

Meeting Recording:
https://zoom.us/rec/share/w_BeLIqs3VxIXLfE-E3ae_YDWYbjT6a80CYZ_PJZmonIo37S1v8u1D3xD4qqNVE

Access Password: K&S2e?Yf

@eddynaka did you check in YouTube if it's there?

[2020-08-18 17:35] trask commented on #453
This is Java Instrumentation's weekly Office Hours, not the weekly SIG meeting, which is Thu 9am Pacific Time

[2020-08-18 17:36] eddynaka commented on #453
@trask , if that's true, so we have at least 2 videos missing!

[2020-08-18 17:37] SergeyKanzhelev commented on #453
what I found is matching the date, time (duration is over 1 hour) and room of what is requested. Could it be that room stayed open for two consequentive meetings?

[2020-08-18 17:38] SergeyKanzhelev commented on #453
If so, please use different meeting rooms for the back to back meetings:

https://github.com/open-telemetry/community/blob/master/docs/how-to-handle-public-calendar.md

[2020-08-18 17:40] eddynaka commented on #453
@SergeyKanzhelev , it's strange. The Office hours (if we see in the calendar) occurs at 6pm. and the SIG occurs at 9am. So, it's not the case where we have the same room opened for many hours.

[2020-08-18 17:40] trask commented on #453
Office Hours meeting often goes over 1 hour.

I'm more concerned about the missing weekly SIG meeting at 9am Pacific Time.

[2020-08-18 17:42] SergeyKanzhelev commented on #453
@trask please give me =)

- exact datetime with timezone
- meeting room
- duration (as you remember it)

[2020-08-18 17:51] trask commented on #453
https://calendar.google.com/event?action=TEMPLATE&tmeid=aDM0cDVuNHQ4a2RlM2NxaDRlN2NmcDRjbnNfMjAyMDA4MTNUMTYwMDAwWiB0cmFzay5zdGFsbmFrZXJAbQ&tmsrc=trask.stalnaker%40gmail.com&scp=ALL

~1 hour

[2020-08-18 17:55] trask commented on #453
sorry wrong link:

https://calendar.google.com/event?action=TEMPLATE&tmeid=aDM0cDVuNHQ4a2RlM2NxaDRlN2NmcDRjbnNfMjAyMDA4MTNUMTYwMDAwWiBnb29nbGUuY29tX2I3OWUzZTkwajdiYnNhMm4ycDVhbjVsZjYwQGc&tmsrc=google.com_b79e3e90j7bbsa2n2p5an5lf60%40group.calendar.google.com&scp=ALL

[2020-08-18 18:03] austinlparker commented on #427
I think it'd mostly be the same people, yeah - well, Liz too, I hope?

[2020-08-18 18:04] SergeyKanzhelev commented on #453
@trask it shows me March 12. is it what you are looking for?

![image](https://user-images.githubusercontent.com/9950081/90548909-885b5700-e142-11ea-902a-7e290a7ca9c5.png)

I'm not trying to be hard, I want to establish precedence that will make it easier to troubleshoot these kind of issues.

[2020-08-18 18:06] trask commented on #453
try this: https://calendar.google.com/event?action=TEMPLATE&tmeid=aDM0cDVuNHQ4a2RlM2NxaDRlN2NmcDRjbnNfMjAyMDA4MTNUMTYwMDAwWiBnb29nbGUuY29tX2I3OWUzZTkwajdiYnNhMm4ycDVhbjVsZjYwQGc&tmsrc=google.com_b79e3e90j7bbsa2n2p5an5lf60%40group.calendar.google.com

[2020-08-18 18:07] eddynaka commented on #453
@SergeyKanzhelev , its showing that time, because of his timezone (probably). If we look at the official calendar its 9AM PST time.

[2020-08-18 18:08] trask commented on #453
I had put in link to the "event" before, not link to the "event instance". The latest link above should be correct.

[2020-08-18 18:24] SergeyKanzhelev commented on #453
this?

Topic: Open Telemetry Meeting 1's Personal Meeting Room
Date: Aug 13, 2020 10:59 AM Central Time (US and Canada)

Meeting Recording:
https://zoom.us/rec/share/2fN2f6HQ715LHtLiylrEf68ERojsT6a80ScX__sMmk6Pp3MV-5qSYwtYEMeR_M00

Access Password: s#XFUg0U

[2020-08-18 18:26] trask commented on #453
YES! ❤️

[2020-08-18 18:30] SergeyKanzhelev commented on #453
@eddynaka is it on YouTube? If not we need to ask @amye to file a support ticket with Splain. Can you please check?

[2020-08-18 18:30] eddynaka commented on #453
Hi @SergeyKanzhelev , we don't have either videos that you posted.

[2020-08-18 18:31] SergeyKanzhelev commented on #453
hm... Do we have any videos from this room?

[2020-08-18 18:33] eddynaka commented on #453
yes, we have some. But, probably not all. For example, on 08/06, we should have 2 again. but we just have one. @trask , can you confirm that we had 2 meetings on 08/06 to 08/07?

[2020-08-18 18:46] SergeyKanzhelev commented on #453
I think what will help @amye to file a ticket is information about meetings that was processed vs. not processed. @eddynaka can you help combining this information? @amye can you please follow up with Splain?

[2020-08-18 18:57] trask commented on #453
yes, normal SIG meeting 8/6 @ 9am Pacific Time, and office hours 8/6 @ 6pm Pacific Time

[2020-08-18 19:25] amye commented on #453
Ticket is in with Splain

[2020-08-19 11:07] eddynaka commented on #453
Hi @amye , I think we have two problems in Splain:
- the missing videos (that you opened a ticket yesterday)
- duplicated upload video, it's the second time that it occurs in less than one week.
  - Room: cncf-opentelemetry
  - when happened: 08/18 4pm EST
  - length: 55:13 minutes

[2020-08-19 15:15] lizthegrey commented on #427
affirmative. I don't have a horse in the www race, but there are other community areas I'd love to participate in.

[2020-08-19 15:46] lizthegrey commented on #452
I'm not sure there's anything to add to the docs, it's a github check like any other github check, you turn on enforcement.

[2020-08-19 15:46] lizthegrey commented on #452
oh, on the easycla side, got it

[2020-08-19 22:50] Mikhail-msft opened #456 "REQUEST: New membership for Mikhail-msft"
### GitHub Username

Mikhail-msft

### Organization you are requesting membership in

@open-telemetry

### Requirements

- [x] I have reviewed the community membership guidelines (https://github.com/open-telemetry/community/blob/master/community-membership.md)
- [x] I have enabled 2FA on my GitHub account. See https://github.com/settings/security
- [x] I have subscribed to the [Gitter channel](htt

[2020-08-20 15:19] idvoretskyi commented on #392
Update: we are unblocked on this - in touch with @mtwo via the ServiceDesk ticket on the next actions.

[2020-08-20 17:21] elucus opened #457 "REQUEST: New membership for elucus"
### GitHub Username

@elucus

### Organization you are requesting membership in

@open-telemetry

### Requirements

- [x] I have reviewed the community membership guidelines (https://github.com/open-telemetry/community/blob/master/community-membership.md)
- [x] I have enabled 2FA on my GitHub account. See https://github.com/settings/security
- [x] I have subscribed to the [Gitter channel](https://

[2020-08-20 17:30] SergeyKanzhelev commented on #457
Welcome, @elucus!

[2020-08-20 17:30] #457 closed

[2020-08-20 17:31] SergeyKanzhelev commented on #456
Welcome, @Mikhail-msft!

[2020-08-20 17:31] #456 closed

[2020-08-24 05:44] trask commented on #453
Hi @SergeyKanzhelev, can maintainers have access to the Zoom account, and we can manually upload the videos for our SIG meetings?

[2020-08-24 05:49] trask opened #458 "Android advice needed in the Java and Java Instrumentation projects"
Hi all!

We need Android advice in the Java and Java Instrumentation projects around how to best support Android developers.

Are there any knowledgeable folks in the community who can advise us, or anyone outside of the community that you could connect us with?

Our current questions are:

* What libraries are critical for Android developers from an observability perspective? (e.g. OkHttp, ...)
*

[2020-08-24 22:36] SergeyKanzhelev commented on #458
CC: @mtwo explicitly
CC: @nikmd23, do you know anybody in AppCenter team who can help with this?

[2020-08-24 23:19] SergeyKanzhelev commented on #453
Last it was discussed the suggestion was that sharing Zoom account with many people is not ideal. The working automation would be better. Mostly from the fragility of all the settings and lack of audit perspective. Also there weren't much interest in helping with videos upload among the maintainers. Generally maintainers are looking for help here, not for additional duty.

This issues is my attemp

[2020-08-25 00:07] robertlaurin opened #459 "REQUEST: New membership for robertlaurin"
### GitHub Username

@robertlaurin

### Organization you are requesting membership in

@open-telemetry

### Requirements

- [x] I have reviewed the community membership guidelines (https://github.com/open-telemetry/community/blob/master/community-membership.md)
- [x] I have enabled 2FA on my GitHub account. See https://github.com/settings/security
- [x] I have subscribed to the [Gitter channel](ht

[2020-08-25 00:12] SergeyKanzhelev commented on #459
Welcome, @robertlaurin!

[2020-08-25 00:12] #459 closed

[2020-08-25 01:22] trask commented on #453
Ok, I guess scratch my proposal then.

If we could all access the Zoom account, then we would each only have to upload one video a week, but I understand if Zoom doesn't give the permissions needed to make this viable.

[2020-08-25 08:06] ericmustin opened #460 "REQUEST: New membership for @ericmustin"
### GitHub Username

@ericmustin

### Organization you are requesting membership in

@open-telemetry

### Requirements

- [x] I have reviewed the community membership guidelines (https://github.com/open-telemetry/community/blob/master/community-membership.md)
- [x] I have enabled 2FA on my GitHub account. See https://github.com/settings/security
- [x] I have subscribed to the [Gitter channel](http

[2020-08-25 16:25] SergeyKanzhelev commented on #460
Welcome, @ericmustin!

[2020-08-25 16:25] #460 closed

[2020-08-25 21:28] bhs opened #461 "create and run annual (?) OTel contributor survey"
Related to #370, I'd like us to create a survey for all OTel contributors. I have been looking at some prior art in the k8s world (e.g., https://github.com/kubernetes/community/issues/3969 and https://github.com/kubernetes/community/blob/master/sig-contributor-experience/surveys/2019/contribex-survey-2019.md) and will get started by:
* Assigning this to myself :)
* Drafting questions for said surv

[2020-08-25 21:29] bhs commented on #370
Per ^^^, I'd like to close this issue once #461 has resulted in our first successfully-executed annual survey (with opt-in D&I reporting).

[2020-08-25 22:52] nikmd23 commented on #458
I do not know anyone over there. 😟

I do, however, see that the following folks have contributed to the AppCenter/Android docs and might know who can help here: @anywherepilot, @conceptdev, @matthiaswenz, @jwargo, @King-of-Spades, @nilofer

[2020-08-26 04:24] mtwo commented on #392
@trask @tigrannajaryan can you share the the email addresses (email them to me) and AWS services that you want to use to access AWS? EC2 and S3 were mentioned, but I want to confirm.

[2020-08-26 05:18] anywherepilot commented on #458
Start in #appcenter and someone will point you in the right direction :)

[2020-08-26 05:39] mtwo commented on #458
@bogdandrutu we connected with Eric Anderson at Google and he gave useful feedback on gRPC integrations. Do you know anyone on the Android team who would be able to answer these questions and advise?

[2020-08-26 06:07] matthiaswenz commented on #458
@trask I'll be happy to answer questions about Android at App Center and what we learned or connect with folks who know more.

[2020-08-26 06:57] iNikem commented on #392
Just in case, @trask do you want to deal with this yourself? I in general like dealing with infra and tooling issues, so I can take over that burden from you in java-instrumentation repo. If @mtwo is comfortable with giving me the access to AWS, of course :)

[2020-08-26 18:51] King-of-Spades commented on #458
Hi, I'm the current primary maintainer of App Center Docs (previously done by @jwargo & @conceptdev in the past). But most of what I do is aid with the research, publishing and maintenance of the docs...it's less about what I "know" and more about information or knowledgable folks I can find.

With your questions, I'm a bit unclear about how it ties over to App Center specifically...? Are you just

[2020-08-26 19:36] SergeyKanzhelev commented on #458
This is the hope. My understanding is that @trask is looking for some insights in app population and directions how to make OpenTelemetry cover the most use cases with minimal initial investments.

[2020-08-26 20:31] austinlparker commented on #427
I think 'Communication SIG' is a good idea. Responsibilities would cover:
- Website
- Education/Workshop Resources
- OTel 'official' video content (like otel tuesdays, etc.)
- Unified Documentation
- More(?)

I also like `comms` as a repo name, just to conserve a few characters when typing.

[2020-08-27 04:39] trask commented on #392
Thanks @mtwo! Please give access to @iNikem (we need S3).

[2020-08-27 04:47] mtwo commented on #392
Works for me, @trask?

From: Nikita Salnikov-Tarnovski<mailto:notifications@github.com>
Sent: Tuesday, August 25, 2020 11:57 PM
To: open-telemetry/community<mailto:community@noreply.github.com>
Cc: Morgan McLean<mailto:morgan_mclean@hotmail.com>; Mention<mailto:mention@noreply.github.com>
Subject: Re: [open-telemetry/community] Access to CNCF AWS account (#392)

Just in case, @trask<https://nam11.

[2020-08-27 04:48] mtwo commented on #392
@iNikem what's the email address / AWS account that you'd like to use? Feel free to post it here or send it to me over gitter or email

[2020-08-27 05:22] iNikem commented on #392
@mtwo sent an email

[2020-08-27 05:30] mtwo commented on #392
Thanks! I'll forward this to the CNCF folks once I get account details from @tigrannajaryan's coworker

[2020-08-27 16:16] King-of-Spades commented on #458
1. What libraries are critical for Android developers from an observability perspective? (e.g. OkHttp, ...)
2. What Android API levels should we target for these libraries' instrumentation?
3. Best practices around supporting older Android API levels?

Well, my instinct is that questions #2 & #3 likely inherit directly from #1. Say for example, all of the libraries you identify as critical support

[2020-08-31 12:18] lalitb opened #464 "REQUEST: New membership for lalitb"
### GitHub Username

 @lalitb

### Organization you are requesting membership in

 open-telemetry

### Requirements

- [YES ] I have reviewed the community membership guidelines (https://github.com/open-telemetry/community/blob/master/community-membership.md)
- [ YES] I have enabled 2FA on my GitHub account. See https://github.com/settings/security
- [ YES] I have subscribed to the [Gitter channel

[2020-08-31 17:19] hencrice opened #465 "REQUEST: New membership for hencrice@"
### GitHub Username

hencrice

### Organization you are requesting membership in
@opentelemetry-collector-contrib or @open-telemetry

### Requirements

- [X] I have reviewed the community membership guidelines (https://github.com/open-telemetry/community/blob/master/community-membership.md)
- [X] I have enabled 2FA on my GitHub account. See https://github.com/settings/security
- [X] I have subscri

[2020-08-31 19:59] SergeyKanzhelev commented on #465
@bogdandrutu @pjanotti I want to remind you about two companies representatives rule of membership. When you suggest your sponsorship, please mention this rule.

I'm not going to block this request, it is not the first one violating this rule. But I will start doing it going forward.

[2020-08-31 20:00] #465 closed

[2020-08-31 20:13] SergeyKanzhelev commented on #464
@reyang @maxgolov I want to remind you about two companies representatives rule of membership. When you suggest your sponsorship, please mention this rule.

I'm not going to block this request, it is not the first one violating this rule. But I will start doing it going forward.

[2020-08-31 20:15] SergeyKanzhelev commented on #464
Welcome, @lalitb!

[2020-08-31 20:15] #464 closed

[2020-09-01 07:25] lalitb commented on #464
Thanks @SergeyKanzhelev

[2020-09-01 18:22] mtwo commented on #392
I've the two account email addresses and desired AWS services to the CNCF via the ticket that I have open with them

[2020-09-01 19:58] SergeyKanzhelev opened #468 "Coordinating applications: Community Bridge Q3-Q4 round is open for the project applications"
This issue is to help coordinate applications and mentors who want to participate.

If you are active on OpenTelemetry (ideally approver or maintainer) and want to mentor somebody as part of Community Bridge, please comment on this issue.

If you have an idea for the project, please also do it in this issue before submitting to the Community Bridge repository. Ideally project should be contained a

[2020-09-01 23:37] SergeyKanzhelev commented on #468
CC:

- @open-telemetry/dotnet-approvers
- @open-telemetry/php-approvers
- @open-telemetry/javascript-approvers
- @open-telemetry/java-instrumentation-approvers
- @open-telemetry/java-approvers
- @open-telemetry/go-approvers
- @open-telemetry/ruby-approvers
- @open-telemetry/swift-approvers
- @open-telemetry/cpp-approvers
- @open-telemetry/collector-approvers
- @open-telemetry/erlang-approvers
- @o

[2020-09-02 06:26] maxgolov commented on #468
**Project**

Add exporter for **ETW (Event Tracing for Windows)** as one of the optional recommended exporters that languages may decide to implement as part of SDK. With initial implementation proposed for:
- C++
- C#

**Logical Reasoning**

Application logs, service logs, even Docker-on-Windows logs can be directed to ETW (ref. https://docs.docker.com/config/containers/logging/etwlogs/ ). Many p

[2020-09-02 18:10] SergeyKanzhelev commented on #468
Neat idea. Would it make more sense when we have logging APIs? Or you envision ETW exporter for Traces, Metrics would be useful by itself? Do you have end-to-end demo in mind, perhaps some consumer of ETW?

Would message pack exporter be a similar step? I can see how we can demo it with FluentBit consuming OpenTelemetry.

[2020-09-02 19:07] maxgolov commented on #468
I was thinking about defining how we can express Traces and Metrics over that channel, and yes - Logging is the next step, but we do not have to wait for the formal Logging API. I think exporter for Traces and Metrics would be useful too.

There are several customers that I am aware of are gonna be interested in deploying this in production. We can do end-to-end demo with some exporter, for exampl

[2020-09-03 03:34] bhs commented on #370
In last week's GC meeting, we decided to integrate the survey component here with our 2020Q4 election process, just to minimize the amount of survey-nagging we have to do with our community.

In the meantime, I wanted to get some feedback going on the set of questions we'll use for the annual contributor survey (both demographic and otherwise). Here's an editable doc link:

https://docs.google.com

[2020-09-03 09:12] svrnm opened #469 "Up For Grabs in CONTRIBUTING.md is not working"
In the OpenTelemetry Contributor Guide the link to https://up-for-grabs.net/#/filters?tags=opentelemetry is not working:

The open-telemetry projects are not listed and therefor one can not find those issues. Here is the guide to list the projects on up-for-grabs.net: https://github.com/up-for-grabs/up-for-grabs.net/blob/gh-pages/docs/list-a-project.md

[2020-09-03 16:52] SergeyKanzhelev commented on #469
@svrnm would you like to help out with this?

[2020-09-03 18:29] svrnm commented on #469
@SergeyKanzhelev Sure, I can give it a try. I can create the required files for up-for-grabs.net and hand it in as PR there.

[2020-09-04 20:03] ritwik12 commented on #469
@SergeyKanzhelev and @svrnm Ritwik here from up-for-grabs.net. I have merged your PR for now. but please spend some time doing the following:

`One issue is there that there are some projects which do not have any issues labeled with the tag `**help wanted**` on their repository. Would request you to please add those so that if someone visits the project site they would not be treated with 0 issue

[2020-09-04 20:48] ThomsonTan opened #471 "REQUEST: New membership for ThomsonTan"
### GitHub Username

@ThomsonTan

### Organization you are requesting membership in

@open-telemetry

### Requirements

- [x] I have reviewed the community membership guidelines (https://github.com/open-telemetry/community/blob/master/community-membership.md)
- [x] I have enabled 2FA on my GitHub account. See https://github.com/settings/security
- [x] I have subscribed to the [Gitter channel](http

[2020-09-04 21:05] eddynaka opened #472 "[Zoom meetings] Thursday problem"
Hi,

I have been following the meetings calendar vs zoom recordings vs youtube.

Today I saw one problem: on Thursday we have three sequential meetings with the same room. With that, we can overlap the meeting record and it won't stop. That happened this Thursday, our recording is 2:30h long and has many meetings.

Below a link of the recording: https://zoom.us/recording/detail?meeting_id=4ZWShkgb

[2020-09-04 21:16] SergeyKanzhelev commented on #472
We only have three zoom rooms and recordings got merged if room is not fully empty before the next meeting starts.

@open-telemetry/java-instrumentation-maintainers , @open-telemetry/python-maintainers, @open-telemetry/ruby-maintainers is 9-10 slot works for you? If so we might need to create a new room. If you've been thinking of rescheduling or shortening meeting - it may definitely help streaml

[2020-09-05 01:25] fbogsany commented on #472
✋ I’ve been thinking about rescheduling the Ruby SIG meeting. I’ll discuss options with folks on Gitter and see if there’s a time that works for everyone.

[2020-09-05 21:18] SergeyKanzhelev commented on #471
Welcome, @ThomsonTan!

[2020-09-05 21:18] #471 closed

[2020-09-06 05:57] SergeyKanzhelev commented on #472
@fbogsany this would be great. Let us know if you want to keep the timeslot so we will need to start working on getting an extra room.

[2020-09-08 08:00] SergeyKanzhelev opened #473 "Java SIG meeting was flagged on YouTube"
@trask (I saw you been most active on the meeting), any idea why the Java SIG meeting recording might have been flagged? Has anything unusual happened during the call? I briefly watched episodes and didn't find any issues, but didn't watch end-to-end. Please suggest

Hi OpenTelemetry,

As you may know, our [Community Guidelines](https://www.youtube.com/attribution_link?a=en2Ze5wqfVVCFU6o&u=/t/comm

[2020-09-08 08:05] Oberon00 commented on #473
2020-09-03 is a Thursday, so no Java SIG. Could be "OpenTelemetry Java Instrumentation SIG" or "Java Instrumentation Office Hours" though.

[2020-09-08 13:40] tylerbenson commented on #472
maybe we should encourage minimum 30 min gaps between similar zoom rooms.

[2020-09-08 15:18] svrnm commented on #469
@SergeyKanzhelev not sure how to handle this: I can do another PR and remove some of the projects that are less active? Or opening issues with those projects calling out that they now can have their issues listed on up-for-grabs?

[2020-09-08 17:26] ritwik12 commented on #469
@svrnm  You can provide some other label too instead of help wanted. Or you can also create new issues there.

[2020-09-08 17:52] SergeyKanzhelev commented on #473
renamed. Also somebody submitted the appeal and it was reinstated. Thank you!

[2020-09-08 17:52] #473 closed

[2020-09-08 17:57] SergeyKanzhelev commented on #472
there is already mention about it here: https://github.com/open-telemetry/community/blob/master/docs/how-to-handle-public-calendar.md

[2020-09-08 17:58] fbogsany commented on #472
I'm polling folks in the Ruby SIG Gitter channel to see if we can find a non-conflicting time. I hope to have the meeting moved by EOD today.

[2020-09-08 18:24] SergeyKanzhelev commented on #468
https://github.com/cncf/mentoring/pull/280

[2020-09-08 19:03] SergeyKanzhelev commented on #469
Creating issue for repo maintainers is the best. It will be another reminder of importance to have entry-level tasks for new contributors.

Thank you!

[2020-09-08 20:03] bobstrecansky commented on #468
I'd love to have some mentees work on the opentelemetry-php project, finishing some of the milestones for our releases.

[2020-09-08 20:12] SergeyKanzhelev commented on #468
please submit a PR like this cncf/mentoring#280 asap. Deadline was yesterday

[2020-09-08 20:20] bobstrecansky commented on #468
Thanks @SergeyKanzhelev - added [here](https://github.com/cncf/mentoring/pull/281)

[2020-09-08 20:29] fbogsany commented on #472
I've moved the Ruby SIG meeting to Tuesday noon Eastern / 9am Pacific. We'll reschedule again if we find a better time, but this should resolve the scheduling issue here for now.

[2020-09-08 20:33] SergeyKanzhelev commented on #472
Thank you! This is very helpful. But please do feel free to book it back and let us know that you need a new room.

[2020-09-08 21:00] SergeyKanzhelev commented on #472
@open-telemetry/python-maintainers python sig meeting zoom link changed in calendar to avoid back to back meetings. Please make sure to communicate it to everybody involved.

[2020-09-08 21:00] #472 closed

[2020-09-09 12:18] svrnm opened #474 "Add labels to entry level tasks for new contributors"
Hi,

based on #469 I have added **open-telemetry/community** to Up For Grabs:

https://up-for-grabs.net/#/filters?names=640

There are currently no issues with label [help wanted](https://github.com/open-telemetry/community/labels/help%20wanted). Please add this label to your entry level tasks, so people can find a way to contribute easily.

If "help wanted" is not the right label, let me know and

[2020-09-09 12:19] svrnm commented on #469
As you can see above, I added an issue to all the repos that are not having "help wanted" or "good first issue" tickets (excluding build-tools as it has 0 issues right now overall)

[2020-09-09 14:53] bogdandrutu opened #475 "How to handle MIT licence"
Hi GC members, we are blocked by an issue related to attributions and MIT license. Can you give us feedback about how to handle this? See https://github.com/open-telemetry/opentelemetry-collector/pull/1622

[2020-09-09 16:24] SergeyKanzhelev commented on #475
this is the direct link to the conversation:

https://github.com/open-telemetry/opentelemetry-collector/pull/1622#discussion_r483713783

![image](https://user-images.githubusercontent.com/9950081/92625920-1af0a100-f27e-11ea-9212-beabf8ad7e16.png)

@bogdandrutu do we need to have a reference to this code (external dependency), copy of the code (like vendoring), copy and modification?

@caniszczyk s

[2020-09-09 16:38] jodeev opened #476 "REQUEST: New membership for jodeev"
### GitHub Username

@jodeev

### Organization you are requesting membership in

@open-telemetry

### Requirements

- [x] I have reviewed the community membership guidelines (https://github.com/open-telemetry/community/blob/master/community-membership.md)
- [x] I have enabled 2FA on my GitHub account. See https://github.com/settings/security
- [x] I have subscribed to the [Gitter channel](https://

[2020-09-09 18:07] tigrannajaryan commented on #475
I think we had a similar issue in the past: https://github.com/open-telemetry/community/issues/305 and the guidance was that there should not be vendor-specific authoring comments (if I understand correctly).

[2020-09-09 18:49] SergeyKanzhelev commented on #476
Welcome, @jodeev!

[2020-09-09 18:49] #476 closed

[2020-09-09 18:54] SergeyKanzhelev commented on #475
@tigrannajaryan it would be helpful if you can give more details on what needs to happen specifically. Yes, our position was to strip the copyright if this is the question about contributing code from another repository. The only qq would be how it will play with CLA - ideally the author of code needs to do it. In any case, more details on what needs to happen would be useful

[2020-09-09 20:45] tigrannajaryan commented on #475
@SergeyKanzhelev let me have a look and post what I find here.

[2020-09-09 21:03] SergeyKanzhelev opened #477 "dev-analytics-bot@linuxfoundation.org was added to all OT mailing lists"
I received notification that dev-analytics-bot@linuxfoundation.org was added to all OT mailing lists.

@amye do you know how it will be used? Some mailing lists are restricted to be read by members only. I want to make sure this bot is not exposing messages unintentionally.

[2020-09-09 21:09] maxgolov commented on #475
We have the same question in C++ SDK. There is a contribution that we may integrate from MSFT (HTTP client implementation for C++). But the code is MIT-licensed. `Just strip the copyright` - won't work.

[2020-09-09 21:14] amye commented on #477
I know this is coming from the LF analytics team and it's something new
they're rolling out, I'm chasing down what the expected outcome is.
Thanks for the ping!

On Wed, Sep 9, 2020 at 2:03 PM Sergey Kanzhelev <notifications@github.com>
wrote:

--
Amye Scavarda Perrin | Program Manager | amye@linuxfoundation.org

[2020-09-09 21:25] tigrannajaryan commented on #475
Disclaimer: I am not a lawyer.

Here is my understanding of the situation.

A contributor wants to submit a PR with a code which includes a copy of this https://github.com/uber-go/automaxprocs/blob/master/internal/cgroups/cgroup.go code that is MIT licensed and is copyright of Uber.

To comply with the requirements of MIT license the contributor needs to retain the copyright notice in the copy. Th

[2020-09-10 00:00] trask commented on #473
weird. no idea why it would have been flagged.

[2020-09-10 08:33] jpkrohling commented on #475
Completely agree with @tigrannajaryan in general. However, and perhaps because I'm someone directly affected by this, I think we could have a few exceptions in place: code with the copyright assigned to another open source project, and under the same license, should be allowed to still have the copyright assigned to the original project (and perhaps, with dual copyright, if we have modifications).

[2020-09-10 22:28] maxgolov commented on #468
@SergeyKanzhelev Thanks for adding my proposal!! Looking forward to make it happen.

[2020-09-10 23:22] SergeyKanzhelev commented on #468
the process last time was that there will be candidates and CNCF will tell us how many spots we have for OpenTelemetry. Than we will need to match candidates and projects. I'll close this issue and will reach out when it's time for the next steps.

[2020-09-10 23:22] #468 closed

[2020-09-10 23:22] SergeyKanzhelev commented on #474
CC: @tedsuo

[2020-09-10 23:23] SergeyKanzhelev commented on #469
CC: @tedsuo

Ted promised to help promote the need for better beginners issues hygiene.

[2020-09-11 00:16] tsloughter commented on #468
I don't have a proposal but I'm always open to act as a mentor if someone who is interested in Erlang/Elixir (or any BEAM language really, bindings for https://gleam.run/ would be interesting for example).

[2020-09-11 05:09] alolita commented on #469
@SergeyKanzhelev @tedsuo I can team up with you to help triage and label "help wanted" issues and "good first issues".

[2020-09-11 06:01] SergeyKanzhelev commented on #469
thank you! This is a constant problem with many projects to keep code welcoming for new contributors.

[2020-09-11 17:43] bogdandrutu commented on #113
@yurishkuro can we close this issue with the following recommendation?
* Can use the full license headers with/without the year
* Can use the two-line header recommended by Apache with/without year

[2020-09-11 17:52] tigrannajaryan commented on #475
Let's have a decision on this. We have several issues now blocked on this.

I posted my recommendation that unblocks and allows to move forward. Does @open-telemetry/governance-committee believe that this needs to be vetted additionally, possibly with a lawyer?

[2020-09-11 17:59] bhs commented on #475
Going back to @SergeyKanzhelev's comment:

... we haven't heard from Chris, so I think we ought to file a CNCF Legal support ticket about this. I share @tigrannajaryan's desire for a decision. I haven't personally weighed in because "I'm not a lawyer" and am continually surprised by the nuances of how software licenses work and do-not-work, so don't feel qualified to make a decision (or even reall

[2020-09-11 18:01] tigrannajaryan commented on #475
Looking at CNCF recommendation here: https://github.com/cncf/foundation/blob/master/copyright-notices.md#what-about-third-party-code I believe my recommendation matches it.

They say:

This means if the new file is a literal copy of a third-party code then you keep the third-party code as-is with its own copyright notice. There is not need to also include the OpenTelemetry's copyright notice.

Thi

[2020-09-11 18:01] caniszczyk commented on #475
sorry github notifications is useless for me, servicedesk is better, we document things here:

https://github.com/cncf/foundation/blob/master/copyright-notices.md#dont-change-someone-elses-notice-without-their-permission

[2020-09-11 18:01] caniszczyk commented on #475
In short, preserve copyright notices

[2020-09-11 18:02] SergeyKanzhelev commented on #113
Can you pls add a few words in this section: https://github.com/open-telemetry/community#license

[2020-09-11 18:08] bhs commented on #475
Okay. So: if there are non-trivial changes, prepend the OTel copyright notice and preserve the prev one. If there are no changes, just keep the old one.

I consider that decided unless someone objects soon – the guidance in the cited file above is clear, I just hadn't seen it. 🙈

PS: Chris, no worries about GH notifications! I can only imagine...

[2020-09-11 18:23] tigrannajaryan commented on #113
@SergeyKanzhelev I just filed this https://github.com/open-telemetry/community/pull/479 which adds a link to CNCF recommendations. I can it move to https://github.com/open-telemetry/community#license section if it is a better place for the link.

In addition to that we can clarify our choices further since CNCF allows for a few alternates for copyright headers.

[2020-09-11 18:28] tigrannajaryan commented on #475
There is one more important section in the CNCF link:

My concern above was that this may not be fully aligned with our vendor-neutrality stance, but I believe CNCF has a significant experience running projects like ours, so I am happy to accept this recommendation.

[2020-09-11 18:36] SergeyKanzhelev commented on #475
When vendors contribute code they typically own it to re-license. So let's put recommendation to re-license when possible. I agree that keeping copyrights may lead to concerns.

[2020-09-11 18:38] SergeyKanzhelev commented on #113
headers concerns both - license and copyright. So I think we need to extend the license section as well to talk about the headers. Or maybe merge these two section into "License and copyright"

[2020-09-11 19:07] flands opened #480 "Make Community README more user-friendly and up-to-date"
The Community README can be hard to navigate, has repeating information, and is not up to date. It would be nice to improve the layout of information to make it more easily consumable.

[2020-09-14 01:30] #480 closed

[2020-09-14 01:30] #347 closed

[2020-09-14 08:40] jpkrohling commented on #475
I don't think I would have a problem in seeing a source code with `(c) Lightstep and OpenTelemetry Authors` and another one with `(c) Splunk and OpenTelemetry Authors` or `(c) Jaeger and OpenTelemetry Authors`. I really don't think it alone means that a code is tied to a vendor in any way. In fact, I would probably think the project is in a healthy state, with multiple vendors collaborating toward

[2020-09-14 19:02] iNikem commented on #398
Any news on this, @idvoretskyi ?

[2020-09-14 19:05] SergeyKanzhelev commented on #398
Current status is that at the moment we are on teams subscription and watching if this would not be enough. If we will hit the limit, we will continue conversation. Is there any concerns regarding the current number of jobs or anticipated problems that blocking something?

[2020-09-14 19:07] iNikem commented on #398
Not any immediate problems, but I am thinking if it is a good idea to bring a massively parallel job to Java instrumentation repo.

[2020-09-14 19:21] idvoretskyi commented on #398
@iNikem we are in process of discovering expanded options, but as @SergeyKanzhelev mentioned, it's not an immediate need AFAIK.

[2020-09-14 19:29] SergeyKanzhelev commented on #398
If there are some existing known numbers that wouldn't fit to the current limits and blocking migration - let's discuss.

[2020-09-14 20:05] SergeyKanzhelev commented on #475
@jpkrohling what do you think about this PR: https://github.com/open-telemetry/community/pull/479 It has reference on reasoning to use a single copyright when possible. I all boils down to extra burden with a little benefit.

For example, this thing "Adding many different copyright notices may increase the burden on downstream distributors, if their license compliance processes involve reproducing

[2020-09-14 21:10] SergeyKanzhelev commented on #477
Any updates?

[2020-09-15 01:20] amye commented on #477
So the Support team has given me an example of the data they're pulling:
This is an example of what metrics are being pulled and displayed on the
Insights dashboard https://tinyurl.com/y2q8ohtu

I'm asking more detailed questions about how mailing lists get invited and
why.

On Mon, Sep 14, 2020 at 2:11 PM Sergey Kanzhelev <notifications@github.com>
wrote:

--
Amye Scavarda Perrin | Program Manage

[2020-09-15 04:32] SergeyKanzhelev commented on #477
A few of mailing lists suppose to be private. I'm going to remove this e-mail from the list. Do you know how to prevent them from re-appearing?

[2020-09-15 07:47] jpkrohling commented on #475
I believe that PR is certainly OK. Imagine that we have a code for was originally written for, say, [Apache SkyWalking](https://github.com/apache/skywalking), which is licensed under Apache 2.0. It's wrong on many levels to remove the copyright from the code...

[2020-09-15 17:53] amye commented on #477
Update: It's being removed from all private lists, should be done by 1pm
Pacific.

On Mon, Sep 14, 2020 at 9:32 PM Sergey Kanzhelev <notifications@github.com>
wrote:

--
Amye Scavarda Perrin | Program Manager | amye@linuxfoundation.org

[2020-09-15 19:30] SergeyKanzhelev commented on #468
@maxgolov @bobstrecansky can you please create an issues for the proposed projects today?

[2020-09-15 19:38] SergeyKanzhelev commented on #468
One for FluentBit: https://github.com/open-telemetry/opentelemetry-dotnet-contrib/issues/31

[2020-09-15 21:01] maxgolov commented on #468
@SergeyKanzhelev - work item for OT C++ SDK: https://github.com/open-telemetry/opentelemetry-cpp/issues/326

[2020-09-16 07:13] SergeyKanzhelev commented on #468
Created one for php as well. https://github.com/cncf/mentoring/pull/289

[2020-09-16 07:20] SergeyKanzhelev commented on #477
it is fixed now. Thank you!

[2020-09-16 07:20] #477 closed

[2020-09-16 07:30] SergeyKanzhelev commented on #475
@bogdandrutu I believe the PR that just got merged helps with the guidance on initial question. Closing, please re-open if you still have questions.

[2020-09-16 07:30] #475 closed

[2020-09-16 17:21] bobstrecansky commented on #468
@SergeyKanzhelev my apologies, missed the notification for this.  Thank you for opening that issue.

[2020-09-16 17:40] SergeyKanzhelev commented on #468
it was a very short notice, no worries at all.

[2020-09-17 06:47] SergeyKanzhelev commented on #474
@svrnm @tedsuo would you like to take a look on how to onboard OpenTelemetry to [Hacktoberfest](https://hacktoberfest.digitalocean.com/)? Might be a good motivation to clean up these tags

[2020-09-17 07:02] SergeyKanzhelev commented on #453
@eddynaka @trask please re-open if this is still an issue. Should be resolved now

[2020-09-17 07:02] #453 closed

[2020-09-17 07:03] SergeyKanzhelev commented on #452
I believe this is done in https://github.com/open-telemetry/community/pull/454

[2020-09-17 07:03] #452 closed

[2020-09-17 07:04] SergeyKanzhelev commented on #458
@trask is this issue still actual? I believe I saw people from Android community in Java calls on recordings.

[2020-09-17 07:04] #406 closed

[2020-09-17 07:07] SergeyKanzhelev commented on #233
I believe this is done for all, except website. Let's track decentralization of website sig membership file in this issue https://github.com/open-telemetry/community/issues/427

[2020-09-17 07:07] #233 closed

[2020-09-17 07:14] SergeyKanzhelev commented on #317
This issue should belong to specification repository and discussed by @open-telemetry/technical-committee

[2020-09-17 07:14] #317 closed

[2020-09-17 07:15] alolita commented on #427
@SergeyKanzhelev @lizthegrey While all these SIGs would be great to have, it may be tough to retain regular participation if we have multiple SIG meetings - e.g on docs, education, website, comms etc. I vote recommend considering one community SIG meeting which addresses all these areas until we have more owners to run individual SIGs with clear charters.

[2020-09-17 07:18] SergeyKanzhelev commented on #427
yep, this is what I am advocating for as well. Definitely need to expand [this membership](https://github.com/open-telemetry/community/blob/master/community-members.md#docs-and-website) as well with the expansion of a scope.

[2020-09-17 07:19] SergeyKanzhelev commented on #401
Added to TC meeting agenda

[2020-09-17 07:53] alolita commented on #427
@SergeyKanzhelev yes agree - both membership and scope should be expanded. We've a lot of newcomers contributing on the project but it is difficult to find a clear graduation path for contributors to stay involved in the project long term. Would love to see that stickiness for the project.

[2020-09-17 07:57] SergeyKanzhelev opened #483 "Add information about related groups"
Add information about related groups to this list: https://github.com/open-telemetry/community#related-groups

1. CNCF SIG Observability
2. K8s SIG Instrumentation
3. OpenMetrics

[2020-09-17 08:35] mateuszrzeszutek opened #485 "REQUEST: New membership for mateuszrzeszutek"
### GitHub Username

@mateuszrzeszutek

### Organization you are requesting membership in

@open-telemetry

### Requirements

- [x] I have reviewed the community membership guidelines (https://github.com/open-telemetry/community/blob/master/community-membership.md)
- [x] I have enabled 2FA on my GitHub account. See https://github.com/settings/security
- [x] I have subscribed to the [Gitter channel

[2020-09-17 08:36] svrnm commented on #474
@SergeyKanzhelev @tedsuo happy to help with that!

[2020-09-17 08:37] svrnm commented on #469
@alolita @SergeyKanzhelev & @tedsuo -- Since I am still new to this community and trying to figure out how and where I can help best, feel free to use me as your "test dummy"

[2020-09-17 08:37] svrnm commented on #469
@SergeyKanzhelev since the up for grabs is now updated, I think we can close this ticket?

[2020-09-17 09:04] arminru commented on #317
@SergeyKanzhelev I think this issue fits here just as well since it's about cross-SIG collaboration and not the spec itself.

If we agree that the changelog in the spec, the compatibility matrix there for easy verification and the maintainers sync meeting to make everyone aware of the most extensive changes are enough and that we don't need to define a formal process or automatism, I'm fine with c

[2020-09-17 09:12] kubawach opened #486 "REQUEST: New membership for kubawach"
### GitHub Username

@kubawach

### Organization you are requesting membership in

@open-telemetry

### Requirements

- [x] I have reviewed the community membership guidelines (https://github.com/open-telemetry/community/blob/master/community-membership.md)
- [x] I have enabled 2FA on my GitHub account. See https://github.com/settings/security
- [x] I have subscribed to the [Gitter channel](https:

[2020-09-17 14:03] austinlparker commented on #427
@SergeyKanzhelev is there an issue template for creating a new SIG, I looked and didn't find anything

[2020-09-17 16:14] SergeyKanzhelev commented on #427
There is no issue template. Just comment here if you need anything like github team renames and somebody will take care of it. There were no concerns with this SIG creation.

[2020-09-17 16:15] SergeyKanzhelev commented on #486
Welcome, @kubawach!

[2020-09-17 16:15] #486 closed

[2020-09-17 16:15] SergeyKanzhelev commented on #485
Welcome, @mateuszrzeszutek!

[2020-09-17 16:15] #485 closed

[2020-09-17 16:17] SergeyKanzhelev commented on #317
Full disclosure I have added it to the next TC meeting agenda after closed in case we need to re-open it in better suited place =). Sorry for not writing it down here explicitly

[2020-09-17 16:17] #469 closed

[2020-09-17 16:37] austinlparker commented on #427
Ah, cool. Could you adjust the OpenTelemetry Website Sync meeting on the public calendar to be an hour and rename it to 'OpenTelemetry Communications SIG Meeting'? I'll update the website/notes to reflect the new scope and publicize it.

[2020-09-17 17:45] SergeyKanzhelev commented on #427
You should be able to do this: https://github.com/open-telemetry/community/blob/master/docs/how-to-handle-public-calendar.md We strive for self-service on meetings handling

[2020-09-17 18:12] tedsuo commented on #474
Awesome @svrnm! Want to look through the organizers kit and see what steps we can take now? https://hacktoberfest.digitalocean.com/eventkit

[2020-09-17 20:54] bhs opened #488 "Need to hold the 2020 "OpenTelemetry Governance Committee" election"
(This is a tracking issue that we will close after the election has successfully happened)

Related work:
* [OpenTelemetry 2019 Governance Committee election materials](https://github.com/open-telemetry/community/tree/master/elections/2019)
* [The OpenTelemetry Charter](https://github.com/open-telemetry/community/blob/master/governance-charter.md#establishment-of-a-governance-committee) – though n

[2020-09-17 23:20] SergeyKanzhelev opened #489 "Publicize Government Committee and Technical Committee meeting notes doc and recordings"
Link to this doc needs to find a place on our readme: https://docs.google.com/document/d/1-23Sf7-xZK3OL5Ogv2pK0NP9YotlSa0PKU9bvvtQwp8/edit#heading=h.8mwlusiri5yp

Also this repo can point to [TC repo](https://github.com/open-telemetry/opentelemetry-specification#user-content-opentelemetry-specification:~:text=Escalations%20to%20technical%20committee%20may%20be,regular%20meetings%2C%20notes%20are%2

[2020-09-18 18:04] svrnm commented on #474
Sure, @tedsuo.

The first thing, that is doable right now is adding the label "hacktoberfest" on ticket that have a well-defined scope and are self-contained. Since I already have opened a ticket with most OTel projects regarding the help wanted/up-for-grabs I could update them and add some words on hacktoberfest.

Next, for the event organization it is already possible to create a virtual come to

[2020-09-18 19:55] SergeyKanzhelev commented on #474
for the meeting part - this is how to create meetings: https://github.com/open-telemetry/community/blob/master/docs/how-to-handle-public-calendar.md Ask @mtwo for permissions if you don't have them.

[2020-09-18 20:00] bhs commented on #461
Re the original message here: this issue will not be closed by Sept 18 (today) since it's been coupled to the annual election process in order to minimize the number of surveys/polls we need to nag about. :)

[2020-09-18 20:23] SergeyKanzhelev commented on #461
I wonder if we want to entertain an idea of requiring filling up the survey for voting eligibility?

[2020-09-18 21:01] bhs commented on #461
@SergeyKanzhelev I was just thinking that we somehow tie it to the ballot-submission process itself (method TBD)... it should only take a minute.

[2020-09-18 21:14] SergeyKanzhelev commented on #461
Last time we were using CIVS web site. Same as k8s using. It only allows voting without additional questions submission. Other tools might be fine I guess. If we want some contributors survey combined with the voting,  we can entertain this idea here: https://github.com/kubernetes/community/issues/5096 - k8s will be building a new voting experience this year.

I believe that survey can cover bigge

[2020-09-18 21:17] atoulme opened #490 "REQUEST: New membership for @atoulme"
### GitHub Username

@atoulme

### Organization you are requesting membership in

@open-telemetry

### Requirements

- [X] I have reviewed the community membership guidelines (https://github.com/open-telemetry/community/blob/master/community-membership.md)
- [X] I have enabled 2FA on my GitHub account. See https://github.com/settings/security
- [X] I have subscribed to the [Gitter channel](https:/

[2020-09-18 21:20] SergeyKanzhelev commented on #490
To ensure corporate diversity, please find a sponsor from other company

[2020-09-18 21:29] atoulme commented on #490
@SergeyKanzhelev apologies, I had missed this requirement. I will close this request. Thank you for your prompt response.

[2020-09-18 21:33] SergeyKanzhelev commented on #490
@atoulme I would be happy to welcome you in the org. We started enforcing corp diversity and this is the first issue after: https://github.com/open-telemetry/community/issues/465.

I am sure it wouldn't be a problem to find a sponsor, OpenTelemetry is very welcoming community.

[2020-09-20 23:39] trask commented on #458
Thanks everyone for the connections!

I will close.

What we seem to be lacking most now is users. If you know any, please send them our way!

[2020-09-20 23:39] #458 closed

[2020-09-20 23:53] trask commented on #453
Hi @eddynaka, @SergeyKanzhelev,

We're still missing the video from 8/20:

* Time: 9am-10am Pacific Time
* Meeting room: https://zoom.us/j/8203130519

Seems to be working great since then. I just really want to watch the recording from that particular meeting, because I was unable to attend it due to KubeCon, and the New Relic team gave a walkthrough in that meeting about their recently open sourc

[2020-09-20 23:55] eddynaka commented on #453
I'll take a look tomorrow!

[2020-09-21 16:56] bhs commented on #488
@kateetak awesome, thanks! I'll let you know as things spin up.

[2020-09-21 16:59] bobstrecansky commented on #402
We talked about this in the Maintainer's meeting today - the maintainers generally seemed like waiting until the automatic github renaming occurred later this year was sufficient.  If we decide it must happen earlier, I don't foresee a lot of resistance against that kind of initiative.

[2020-09-21 17:27] mtwo commented on #169
Update (idea from Jonah). Zoom now offers a native YouTube integration: https://support.zoom.us/hc/en-us/articles/360028478292-Streaming-a-Meeting-or-Webinar-on-YouTube-Live

This won't solve the meeting naming challenges (as those are inherent to Zoom), however this should avoid the missing uploads that happen when Splain drops a video. This will also allow us to stream meetings live.

However I'

[2020-09-21 19:10] SergeyKanzhelev commented on #169
@eddynaka would you like to check whether this feature would work for us?

[2020-09-21 19:16] eddynaka commented on #169
@SergeyKanzhelev , already checking! 👍

[2020-09-21 19:27] eddynaka commented on #169
looking at the tutorial, we can enable it. The issue: we won't be able to just join and live to youtube. For example, the owner of the zoom account has to start the meeting and enable the youtube live, then it would transfer automatically. If other member joins, he can't start the live.

It would be helpful IF the maintainers who lead the meetings login using the zoom accounts and enable it. Other

[2020-09-21 19:33] mtwo commented on #169
In that case let's stick with our current system, thanks for looking into this @eddynaka!

[2020-09-21 19:43] amye commented on #169
I'm curious. As of next Sunday, Zoom is going to require passwords on all
meetings (or a waiting room.)
If there's a password on the meeting, and we have host keys to the hosts,
can the hosts start the YT stream?

On Mon, Sep 21, 2020 at 12:34 PM Morgan McLean <notifications@github.com>
wrote:

--
Amye Scavarda Perrin | Program Manager | amye@linuxfoundation.org

[2020-09-21 19:49] SergeyKanzhelev commented on #169
This is a separate issue to address. In OTel we do not require maintainers to have zoom account creds, anybody can start a meeting. In order to solve the new requirement I'd suggest we go k8s route and set a passcode `77777` to all meetings

[2020-09-21 20:22] AzfaarQureshi opened #491 "REQUEST: New membership for AzfaarQureshi"
### GitHub Username
@AzfaarQureshi

### Organization you are requesting membership in

@open-telemetry
### Requirements

   [✅] I have reviewed the community membership guidelines (https://github.com/open-telemetry/community/blob/master/community-membership.md)
   [✅] I have enabled 2FA on my GitHub account. See https://github.com/settings/security
   [✅] I have subscribed to the Gitter channel

[2020-09-21 20:25] amanbrar1999 opened #492 "REQUEST: New membership for amanbrar1999"
GitHub Username

@amanbrar1999

Organization you are requesting membership in

@open-telemetry

Requirements

   [✅] I have reviewed the community membership guidelines (https://github.com/open-telemetry/community/blob/master/community-membership.md)
   [✅] I have enabled 2FA on my GitHub account. See https://github.com/settings/security
   [✅] I have subscribed to the Gitter channel
   [✅] I am a

[2020-09-21 20:28] eunice98k opened #493 "REQUEST: New membership for Eunice98k"
GitHub Username

@eunice98k

Organization you are requesting membership in

@open-telemetry

Requirements

   [✅] I have reviewed the community membership guidelines (https://github.com/open-telemetry/community/blob/master/community-membership.md)
   [✅] I have enabled 2FA on my GitHub account. See https://github.com/settings/security
   [✅] I have subscribed to the Gitter channel
   [✅] I am acti

[2020-09-21 20:30] wilguo opened #494 "REQUEST: New membership for wilguo"
### REQUEST: New membership for wilguo

**@wilguo**

### Organization you are requesting membership in

**@open-telemetry**

### Requirements

- [x] I have reviewed the community membership guidelines (https://github.com/open-telemetry/community/blob/master/community-membership.md)
- [x] I have enabled 2FA on my GitHub account. See https://github.com/settings/security
- [x] I have subscribed to th

[2020-09-21 20:35] KKelvinLo opened #495 "REQUEST: New membership for KKelvinLo"
**GitHub Username**

@KKelvinLo

**Organization you are requesting membership in**

@open-telemetry

**Requirements**

   [✅] I have reviewed the community membership guidelines (https://github.com/open-telemetry/community/blob/master/community-membership.md)
   [✅] I have enabled 2FA on my GitHub account. See https://github.com/settings/security
   [✅] I have subscribed to the Gitter channel
   [

[2020-09-21 20:37] ahlaw opened #496 "REQUEST: New membership for ahlaw"
### GitHub Username

@ahlaw

### Organization you are requesting membership in

@open-telemetry

### Requirements

- [X] I have reviewed the community membership guidelines (https://github.com/open-telemetry/community/blob/master/community-membership.md)
- [X] I have enabled 2FA on my GitHub account. See https://github.com/settings/security
- [X] I have subscribed to the [Gitter channel](https://g

[2020-09-21 20:37] JasonXZLiu opened #497 "REQUEST: New membership for JasonXZLiu"
### GitHub Username

@JasonXZLiu

### Organization you are requesting membership in

@open-telemetry

### Requirements

- [x] I have reviewed the community membership guidelines (https://github.com/open-telemetry/community/blob/master/community-membership.md)
- [x]  I have enabled 2FA on my GitHub account. See https://github.com/settings/security
- [x] I have subscribed to the Gitter channel (http

[2020-09-21 20:38] xukaren opened #498 "REQUEST: New membership for xukaren"
### GitHub Username

e.g. @xukaren

### Organization you are requesting membership in

e.g. @open-telemetry

### Requirements

- [ x ] I have reviewed the community membership guidelines (https://github.com/open-telemetry/community/blob/master/community-membership.md)
- [ x ] I have enabled 2FA on my GitHub account. See https://github.com/settings/security
- [ x ] I have subscribed to the [Gitter

[2020-09-21 21:02] MarkSeufert opened #499 "REQUEST: New membership for MarkSeufert"
### GitHub Username

@markseufert

### Organization you are requesting membership in

@open-telemetry

### Requirements

- [✅] I have reviewed the community membership guidelines (https://github.com/open-telemetry/community/blob/master/community-membership.md)
- [✅] I have enabled 2FA on my GitHub account. See https://github.com/settings/security
- [✅] I have subscribed to the [Gitter channel](htt

[2020-09-22 06:22] alolita commented on #488
Hi Ben @bhs - Count me in to help :-)

[2020-09-22 15:53] SergeyKanzhelev commented on #468
@maxgolov @bobstrecansky can you please apply to be a mentor on Community Bridge? OpenTelemetry got a spot.

[2020-09-22 16:20] bobstrecansky commented on #468
Completed: https://people.communitybridge.org/mentor/9ca764eb-20b2-4d4e-a4ca-b50d0a4f0a27

[2020-09-22 17:22] austinlparker commented on #427
I didn't realize I had permissions. Ok, first meeting will be thursday, thanks

[2020-09-22 18:32] #113 closed

[2020-09-22 18:33] maxgolov commented on #468
@SergeyKanzhelev - I created my profile here:
https://people.communitybridge.org/mentor/314c7d13-8316-46c8-abe8-62a1d28b52b0

[2020-09-22 18:33] SergeyKanzhelev commented on #499
I'm waiting on @mtwo @dyladan to react here. Please make sure you talked to sponsors and they aware of this request

[2020-09-22 18:34] SergeyKanzhelev commented on #498
I'm waiting on @mtwo @jmacd to react here. Please make sure you talked to sponsors and they aware of this request

[2020-09-22 18:35] SergeyKanzhelev commented on #497
I'm waiting on @mtwo @jmacd to react here. Please make sure you talked to sponsors and they aware of this request

[2020-09-22 18:35] SergeyKanzhelev commented on #496
I'm waiting on @mtwo @jmacd to react here. Please make sure you talked to sponsors and they aware of this request

[2020-09-22 18:35] SergeyKanzhelev commented on #495
I'm waiting on @mtwo @jmacd to react here. Please make sure you talked to sponsors and they aware of this request

[2020-09-22 18:35] SergeyKanzhelev commented on #494
I'm waiting on @mtwo @jmacd to react here. Please make sure you talked to sponsors and they aware of this request

[2020-09-22 18:35] SergeyKanzhelev commented on #493
I'm waiting on @mtwo @jmacd to react here. Please make sure you talked to sponsors and they aware of this request

[2020-09-22 18:36] SergeyKanzhelev commented on #492
I'm waiting on @mtwo @jmacd to react here. Please make sure you talked to sponsors and they aware of this request

[2020-09-22 18:36] SergeyKanzhelev commented on #491
I'm waiting on @mtwo @jmacd to react here. Please make sure you talked to sponsors and they aware of this request

[2020-09-22 20:25] jmacd commented on #498
I support this membership. Thanks @xukaren

[2020-09-22 20:27] jmacd commented on #497
Approved. Thanks @JasonXZLiu

[2020-09-22 20:27] jmacd commented on #496
I approve. Thanks @ahlaw

[2020-09-22 20:28] jmacd commented on #495
I approve. (BTW, these interns did check with me first! These requests landed in my "unimportant" folder, working on that...)

[2020-09-22 22:09] shovnik opened #503 "REQUEST: New membership for shovnik"
GitHub Username
@shovnik

Organization you are requesting membership in
@open-telemetry

Requirements
   [✅] I have reviewed the community membership guidelines (https://github.com/open-telemetry/community/blob/master/community-membership.md)
   [✅] I have enabled 2FA on my GitHub account. See https://github.com/settings/security
   [✅] I have subscribed to the Gitter channel
   [✅] I am actively

[2020-09-22 22:14] jmacd commented on #494
Approved.

[2020-09-22 22:14] jmacd commented on #493
Approved.

[2020-09-22 22:15] jmacd commented on #492
Approved.

[2020-09-22 22:16] jmacd commented on #491
Approved. Thank you @AzfaarQureshi, and thank you @alolita!

[2020-09-22 22:26] SergeyKanzhelev commented on #427
@austinlparker please add this to the agenda of your meeting in case anybody from OpenTelemetry needs some help, especially before the 1.0.

[2020-09-22 22:27] SergeyKanzhelev commented on #468
I'm working as a man in the middle here. Please apply to be an OpenTelemetry mentor on the platform. I will do it tonight so will know later how exactly to do it. Shouldn't be too hard

[2020-09-23 06:18] dmitryax opened #504 "Github repository for Helm charts"
We are adding a helm chart for opentelemetry-collector deployment in kubernetes environment. There is a draft PR of the initial version in contrib repo https://github.com/open-telemetry/opentelemetry-collector-contrib/pull/1026. It would be great to put it in its own repo right in the beginning. Having a repo will allow us to easily setup helm specific CI pipeline using Github Actions.

The repo c

[2020-09-23 06:25] SergeyKanzhelev commented on #504
Would `open-telemetry/opentelemetry-helm-charts` work? Should permissions be copied from the opentelemetry-collector-contrib?

For the DNS and hosting - let's have a separate issue

CC: @open-telemetry/collector-contrib-maintainer  @open-telemetry/collector-maintainers

[2020-09-23 06:43] dmitryax commented on #504
I'm good with `open-telemetry/opentelemetry-helm-charts`, and we can start with the same permissions as set in opentelemetry-collector-contrib. Let's see what others think.

[2020-09-23 07:56] arminru commented on #401
Related PR by @jpkrohling: https://github.com/open-telemetry/opentelemetry-specification/pull/990

[2020-09-23 14:07] tigrannajaryan commented on #504
@dmitryax do we intend to have other Otel Helm charts or this is only for the Collector? If it is only for the Collector we may want to reflect that in the repo name.

@SergeyKanzhelev Yes, copying collector-contrib permissions is a good starting point.

[2020-09-23 14:57] svrnm commented on #474
@tedsuo @SergeyKanzhelev what is a good place to find people that are interested in helping to run such an event? Gitter I suppose?

[2020-09-23 15:14] dmitryax commented on #504
It's only opentelemetry-collector for now, but I think it would be good to have a generic name in case we ever have more k8s components in opentelemetry.

[2020-09-23 16:13] SergeyKanzhelev commented on #504
@tigrannajaryan actually you are an organization owner now as a member of TC. Would you like to create it yourself following https://github.com/open-telemetry/community/blob/master/docs/how-to-configure-new-repository.md? Let me know, I can definitely do it if needed

[2020-09-23 16:14] SergeyKanzhelev commented on #474
Gitter or send e-mail to contributors mailing list

[2020-09-23 17:59] bobstrecansky commented on #468
I see myself listed as a Mentor for the OpenTelemetry project: https://people.communitybridge.org/project/f1275c0e-7152-4e09-8d8b-6b14598afbc3

[2020-09-23 18:23] yurishkuro commented on #401
I would also recommend each repo to add an issue template "Report a security vulnerability".

Cf: https://github.com/jaegertracing/jaeger/issues/new/choose

[2020-09-23 18:48] jpkrohling commented on #401
That one is actually a link to the policy, which is created automatically when you add a SECURITY.md to the repo.

[2020-09-23 19:12] dmitryax commented on #504
@tigrannajaryan also could you please give me permissions to merge in that repo at least in the beginning?

[2020-09-23 20:10] tigrannajaryan commented on #504
@SergeyKanzhelev sure, I'll take care of it.

[2020-09-23 22:14] tigrannajaryan commented on #504
@dmitryax https://github.com/open-telemetry/opentelemetry-helm-charts created. You are an admin for now so that you can setup everything as needed.

I am closing this issue, further refinements and decision on who gets what permissions can be discussed in the new repo.

[2020-09-23 22:14] #504 closed

[2020-09-24 00:07] SergeyKanzhelev commented on #504
Please make sure to NOT merge directly. All code should go thru PR & CLA process

[2020-09-24 01:37] KKelvinLo commented on #495
sponsor: @anuraaga

[2020-09-24 01:43] alolita commented on #495
Hi @SergeyKanzhelev - yes our interns and I did reach out to the sponsors mentioned before filing for membership. @jmacd @anuraaga have approved.

[2020-09-24 01:51] alolita commented on #498
Hi @SergeyKanzhelev @jmacd and @reyang have approved our intern @xukaren 's membership.

[2020-09-24 01:56] alolita commented on #499
Hi @SergeyKanzhelev - @MarkSeufert our intern and I have both reached out to @reyang @anuraaga @mwto to sponsor his membership. @reyang @anuraaga have responded and approved.

[2020-09-24 02:01] SergeyKanzhelev commented on #499
Perfect. I just needed some form of confirmation from sponsors on the issue. I’ll review all the requests later tonight

[2020-09-24 02:03] tigrannajaryan commented on #504
@dmitryax FYI ^^^.

[2020-09-24 04:29] dmitryax commented on #504
Thank you Tigran!

[2020-09-24 12:39] dyladan commented on #499
I have no knowledge of this application. Please make sure you raise the issue privately with your potential sponsors before creating the public issue.

It looks to me like you reached out to @anuraaga and @mtwo, but copied an old application as a template which already had my name on it maybe?

In any case, I am happy to be your sponsor if you need one as you have been working on the JS repo.

[2020-09-24 15:11] MarkSeufert commented on #499
Hey Danial,
I used you on purpose since you are the reviewer of one of my PRs on the JS repo. I send you a gitter message a few days ago about using you as my sponsor, but I know you're busy so I think you haven't seen it yet.

Thanks!

[2020-09-24 18:02] SergeyKanzhelev commented on #498
Welcome, @xukaren!

[2020-09-24 18:02] #498 closed

[2020-09-24 18:03] SergeyKanzhelev commented on #499
Welcome, @MarkSeufert!

[2020-09-24 18:03] #499 closed

[2020-09-24 19:23] SergeyKanzhelev commented on #495
Welcome, @KKelvinLo!

[2020-09-24 19:23] #495 closed

[2020-09-24 19:25] SergeyKanzhelev commented on #497
Welcome, @JasonXZLiu!

[2020-09-24 19:25] #497 closed

[2020-09-24 19:40] bhs commented on #488
@kateetak and @alolita : can you reach out to me at `bhs@lightstep.com` so that we can use old-fashioned email tech to schedule an initial kickoff meeting? (FYI, I'll be recording that meeting and any others about election stuff – hope that's ok!)

[2020-09-24 19:43] SergeyKanzhelev commented on #488
I'd be interested to join the kick off meeting. I likely will not have time to help with ongoing work, but would love to keep track of the process. One thing is happening is k8s working on voting app that will simplify the election and I want to make sure it will work for our needs.

[2020-09-24 19:51] bhs commented on #488
@SergeyKanzhelev that would be great, thank you!

[2020-09-24 19:52] bobstrecansky opened #506 "Create open-telemetry/php-triagers"
We want to add our first triager, and so I think we need the open-telemetry/php-triagers group created.

Thanks!

[2020-09-24 20:44] SergeyKanzhelev commented on #506
you got it

[2020-09-24 20:44] #506 closed

[2020-09-24 21:10] mtwo commented on #503
I approve

[2020-09-24 21:10] mtwo commented on #496
I approve

[2020-09-24 21:10] mtwo commented on #494
I approve

[2020-09-24 21:10] mtwo commented on #493
I approve

[2020-09-24 21:10] mtwo commented on #492
I approve

[2020-09-24 21:10] mtwo commented on #491
I approve

[2020-09-24 21:20] SergeyKanzhelev commented on #491
Welcome, @AzfaarQureshi!

[2020-09-24 21:20] #491 closed

[2020-09-24 21:21] SergeyKanzhelev commented on #492
Welcome, @amanbrar1999!

[2020-09-24 21:21] #492 closed

[2020-09-24 21:21] SergeyKanzhelev commented on #493
Welcome, @eunice98k!

[2020-09-24 21:21] #493 closed

[2020-09-24 21:21] SergeyKanzhelev commented on #494
Welcome, @wilguo!

[2020-09-24 21:21] #494 closed

[2020-09-24 21:22] SergeyKanzhelev commented on #496
Welcome, @ahlaw!

[2020-09-24 21:22] #496 closed

[2020-09-24 21:22] SergeyKanzhelev commented on #503
Welcome, @shovnik!

[2020-09-24 21:22] #503 closed

[2020-09-25 07:09] alolita commented on #488
Hi @bhs Ack. Will reach out via email.

[2020-09-25 12:09] svrnm commented on #474
Thanks, I send an email to the contributors mailing list and a message via gitter.

[2020-09-25 19:23] debugthings opened #507 "REQUEST: New membership for @debugthings"
### GitHub Username

@debugthings

### Organization you are requesting membership in

@open-telemetry
opentelemetry-dotnet-instrumentation

### Requirements

- [x] I have reviewed the community membership guidelines (https://github.com/open-telemetry/community/blob/master/community-membership.md)
- [x] I have enabled 2FA on my GitHub account. See https://github.com/settings/security
- [x] I have s

[2020-09-25 22:15] bhs commented on #488
Hi @alolita @kateetak @SergeyKanzhelev: given timezones and just my general bias-to-action feelings, I wonder how much we can just coordinate here? That has the advantages of being (a) async, (b) lightweight, and (c) 100% visible to the community.

With that in mind, please review the following process doc: https://docs.google.com/document/d/1SyTo67KG3HuvwS1a7jDdbXD52Raru01M3QSBjpJ7OMI/edit?usp=sh

[2020-09-26 08:41] kateetak commented on #489
I can help with this.

About the recordings, @SergeyKanzhelev are you sure you want a note saying that they are available but not categorized in the README?
I've learned over the years that it is usually better not to add any details unless they contain useful information.
Another option could be to add the links to the recordings to the Google doc directly. This could help for all videos publishe

[2020-09-26 16:16] huikang opened #509 "REQUEST: New membership for @huikang"
### GitHub Username

@huikang

### Organization you are requesting membership in

@open-telemetry

### Requirements

- [x] I have reviewed the community membership guidelines (https://github.com/open-telemetry/community/blob/master/community-membership.md)
- [x] I have enabled 2FA on my GitHub account. See https://github.com/settings/security
- [x] I have subscribed to the [Gitter channel](https:/

[2020-09-26 23:21] Aneurysm9 commented on #509
+1

[2020-09-27 13:42] shivam-51 commented on #468
@SergeyKanzhelev Can we not work for the ETW exporter project? I cannot find that project at CommunityBridge

[2020-09-27 13:45] Oberon00 commented on #509
Please update the issue title.

[2020-09-27 16:36] huikang commented on #509
Done. Thanks.

[2020-09-27 19:11] maxgolov commented on #468
@SergeyKanzhelev @bobstrecansky - would you guys please also add me as mentor? Just applied.

@shivam-51 - It's the OpenTelemetry project listed above. The task is in the opentelemetry-cpp GitHub repo:
https://github.com/open-telemetry/opentelemetry-cpp/issues/326

[2020-09-27 22:37] alolita commented on #488
@bhs On issue works for me. +100 for transparency.

[2020-09-28 07:23] kateetak commented on #488
Works for me as well. I've added my first comments (and Ben already replied, 🙇‍♀️ ).

The only additional comment input I have is to add some "messages" from the current members to incentivize new applications. For example, we could ask them what was their favourite contribution to the committee, why they would recommend somebody to apply.

There isn't much time tough, so this might be something t

[2020-09-28 08:24] svrnm commented on #474
Cross-Posting from gitter: A similar event like this one from the puppet community could be a great way to encourage contribution: https://organize.mlh.io/participants/events/4634-puppet-hackathon

[2020-09-28 16:16] bhs commented on #488
@kateetak re

I think that's a really nice idea though agree the timeline is very tight (probably too tight). If it's any consolation, last year we had way more applicants than vacancies, so I think (?) we should be ok in terms of fulfilling the requirements of the election. If nominations are sparse in the first few days, we can still do something like you suggest while the nomination period is o

[2020-09-28 16:30] jmacd commented on #503
LGTM

[2020-09-28 16:43] SergeyKanzhelev commented on #509
Welcome, @huikang!

[2020-09-28 16:43] #509 closed

[2020-09-28 16:45] SergeyKanzhelev commented on #468
CC: @idvoretskyi

@maxgolov when did you apply for the mentorship?

[2020-09-28 17:00] SergeyKanzhelev commented on #489
agree, let's not mention recordings for now. We are working on it

[2020-09-28 17:39] maxgolov commented on #468
@SergeyKanzhelev Yesterday.

![image](https://user-images.githubusercontent.com/34072974/94466746-c5b9f800-0176-11eb-8e96-0b778588c4bc.png)

[2020-09-28 17:42] idvoretskyi commented on #468
@maxgolov I haven't received it for some reason. Can you please email me to 'ihor at cncf.io' with your email address and real name - I'll invite you.

Thanks.

[2020-09-28 20:41] SergeyKanzhelev commented on #488
they are in a spec writing stage now. So too early

[2020-09-28 21:54] frigus02 opened #510 "REQUEST: New membership for frigus02"
### GitHub Username

@frigus02

### Organization you are requesting membership in

@open-telemetry

### Requirements

- [x] I have reviewed the community membership guidelines (https://github.com/open-telemetry/community/blob/master/community-membership.md)
- [x] I have enabled 2FA on my GitHub account. See https://github.com/settings/security
- [x] I have subscribed to the [Gitter channel](https:

[2020-09-28 22:12] macrogreg commented on #507
LGTM

[2020-09-29 00:00] bhs commented on #488
@kateetak @alolita @SergeyKanzhelev

Thank you all for your comments! I have made a number of updates to the doc... assuming there are major (remaining) concerns, let's turn that doc into a `.md` file tomorrow (a la [the process doc for the 2019 election](https://github.com/open-telemetry/community/blob/master/elections/2019/governance-committee-election.md)).

Of particular note is that I've take

[2020-09-29 00:35] SergeyKanzhelev commented on #488
lgtm. Thank you, @bhs!

I suggest to add a small task list in the end of the document so election committee can discuss who is doing what. It is already time to write an announcement blog post =)

[2020-09-29 00:36] SergeyKanzhelev commented on #507
Welcome, @debugthings!

[2020-09-29 00:36] #507 closed

[2020-09-29 00:38] SergeyKanzhelev commented on #510
Welcome, @frigus02!

[2020-09-29 00:38] #510 closed

[2020-09-29 01:55] jtescher commented on #510
@SergeyKanzhelev thanks, can you add @frigus02 to @open-telemetry/rust-approvers  as well?

[2020-09-29 05:09] bhs commented on #488
Given how little time we have (and how crazy my 9-5 is), I just threw together #511 ... let's move comments on the process over there.

@SergeyKanzhelev maybe we can just throw the task list into this Issue??? I don't think there's all that much to be done aside from copy-pasta'ing some emails from last year and getting the voter list together.

PS: Sergey, do you remember how to run the "voter li

[2020-09-29 08:24] kateetak commented on #488
One more idea: as part of the "Results are announced" task (or even as a separate one), it would be good to also have the list of the new members published here: https://github.com/open-telemetry/community/blob/master/governance-charter.md

When I started browsing this repo, it took me some time to realize that the elections happened last year until I found the blog post on Medium: https://medium.

[2020-09-29 11:19] idvoretskyi commented on #468
@maxgolov confirmed that it's fixed.

[2020-09-29 16:16] SergeyKanzhelev commented on #488
@lukaszgryglicki helped us with this. after quick search I cannot find lists and scripts from the last year - it may be left in my MS inbox. But should be in Lukasz outbox.

[2020-09-29 16:18] SergeyKanzhelev commented on #510
It is self service. All the power is yours to add approvers and maintainers. You are a maintainer for both teams.

![Uploading image.png…]()

[2020-09-29 20:27] bhs commented on #488
Okay... so here are some things that need to get done.

- [ ] ASAP: We need to write a blog post / messaging announcing the call for nominations. Here's [last year's post](https://medium.com/opentelemetry/opentelemetry-governance-call-for-nominations-cbdccdc9b999). We never did an announcement about the election more generally this year... here's [the one from 2019](https://medium.com/opentelemetr

[2020-09-29 23:47] SergeyKanzhelev commented on #488
For this item, feel free to reference the last year post explaining the GC: https://medium.com/opentelemetry/opentelemetry-governance-committee-explained-860353baba0. And ideally combine with the call for nominations (https://medium.com/opentelemetry/opentelemetry-governance-call-for-nominations-cbdccdc9b999). So there will be leas blog posts

I cannot think of any other asap tasks.